
@import "vars/font";
@import "reset/reset";
@import "partials/header";
@import "partials/boutique";
@import "partials/boutiqueProduct";
@import "partials/payement";
@import "partials/biletterie";
@import "partials/compteUser";
@import "partials/home";
@import "partials/ranking";
@import "partials/form";
@import "partials/article";
@import "partials/club";
@import "partials/footer";
@import "partials/admin";

@media screen and (max-width: 480px) {
    .container{
        max-width: 480px;
        font-family: $font2 !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        max-width: 768px;
        font-family: $font2 !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        max-width: 1024px;
        font-family: $font2 !important;
    }
}

@media screen and (min-width: 770px) and (max-width: 1440px) {
    .container{
        max-width: 1440px;
        margin: 0;
        padding: 0;
        font-family: $font2 !important;
    }
    .main{
        max-width: 1440px;
        font-family: $font2 !important;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        margin: 0;
        padding: 0;
        font-family: $font2 !important;
    }
    .main{
        font-family: $font2 !important;
    }
}

/*****************BUTTON**************/
.btn{
    background-color: $black;
    color: $beige;
    border: 3px solid $beige;
    border-radius: 1rem;
    padding: 0.5 1em;
    box-shadow: $beige 0px 5px 5px -5px, $beige 0px 5px 10px -5px;
    &:hover{
        background-color: $beige;
        color: $black;
        border: 3px solid $darkgrey;
        transition: all 1s;
    }
}

.no-scroll {
    overflow: hidden;
}


