{% extends "base.html.twig" %}

{% block main %}
<main class="main">
    <section class="pageLegal">
        <h1>Politique de Cookies</h1>
    <p><strong>Dernière mise à jour :</strong> 20/06/2024</p>

    <article>
        <h2>Qu'est-ce qu'un cookie ?</h2>
        <p>Un cookie est un petit fichier texte déposé sur votre terminal (ordinateur, tablette, smartphone, etc.) lors de la visite d'un site web. Les cookies permettent de conserver des données utilisateur afin de faciliter la navigation et de permettre certaines fonctionnalités.</p>
    </article>

    <article>
        <h2>Utilisation des cookies</h2>
        <p>Le site NS MASIA FC utilise des cookies pour améliorer l'expérience utilisateur et pour des mesures statistiques. En continuant à naviguer sur ce site, vous acceptez l'utilisation des cookies.</p>
    </article>

    <article>
        <h2>Types de cookies utilisés</h2>
        <p>Nous utilisons différents types de cookies sur notre site :</p>
        <ul>
            <li><strong>Cookies strictement nécessaires :</strong> Ces cookies sont indispensables pour naviguer sur le site et utiliser ses fonctionnalités.</li>
            <li><strong>Cookies de performance :</strong> Ces cookies collectent des informations sur la manière dont les visiteurs utilisent le site, par exemple, les pages les plus visitées.</li>
            <li><strong>Cookies de fonctionnalité :</strong> Ces cookies permettent au site de se souvenir des choix que vous faites (par exemple, votre nom d'utilisateur, votre langue ou la région où vous vous trouvez) et offrent des fonctionnalités améliorées et plus personnelles.</li>
            <li><strong>Cookies de ciblage :</strong> Ces cookies sont utilisés pour afficher des publicités plus pertinentes pour vous et vos intérêts.</li>
        </ul>
    </article>

    <article>
        <h2>Gestion des cookies</h2>
        <p>Vous pouvez contrôler et gérer les cookies de différentes manières. Veuillez noter que la suppression ou 
        le blocage des cookies peut affecter votre expérience utilisateur et certaines fonctionnalités du site peuvent ne plus être disponibles.</p>
        <p>
            La plupart des navigateurs acceptent automatiquement les cookies, 
            mais vous pouvez choisir de ne pas les accepter en modifiant les paramètres de votre navigateur. 
            Pour plus d'informations sur la gestion des cookies dans votre navigateur, consultez la documentation d'aide 
            spécifique à votre navigateur.
        </p>
    </article>

    <article>
        <h2>Modification de la politique de cookies</h2>
        <p>Nous pouvons être amenés à modifier la présente politique de cookies. Toute modification sera affichée sur cette page. Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé des éventuelles mises à jour.</p>
    </article>

    <article>
        <h2>Contact</h2>
        <p>Pour toute question concernant cette politique de cookies, vous pouvez nous contacter par email à <a href="mailto:{{nsMasia.email}}">{{nsMasia.email}}</a> 
        ou par courrier à l'adresse mentionnée dans les <a href="Mentions-légales">mentions légales</a>.</p>
    </article>
        
    </section>
</main>
{% endblock %}