@charset "UTF-8";
* {
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-wrap: pretty;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-weight: 700;
  font-family: "Poppins", sans-serif !important;
}

.invisible {
  display: none !important;
}

.visible {
  display: block;
}

/********************** HEADER *****************/
.header {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 249, 237);
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 100;
}
.header div p {
  color: rgb(0, 0, 0);
}
.header figure {
  position: absolute;
  top: 0;
  right: 45%;
  width: 10%;
  padding-top: 0.5em;
  margin-left: -6em;
}
.header figure img {
  width: 100%;
}
.header .openMenu {
  margin-top: 0.5em;
}

/***********************  NAVIGATION  ***********************/
.navMobile {
  padding-top: 2em;
  position: fixed;
  top: 3.5em;
  left: 0;
  background-color: rgb(255, 249, 237);
  width: 100vw;
  height: 110vh;
  margin-top: -5em;
  z-index: 5;
}
.navMobile .closeMenu {
  margin-left: 1em;
}
.navMobile .nav-links ul li {
  padding-top: 2em;
}

.bodyBack {
  background-color: rgb(0, 0, 0);
}

/************************** BOUTIQUE ***********************/
@media screen and (max-width: 480px) {
  /* Votre code CSS pour les écrans dont la largeur est entre 0px et 480px */
  .searchAndBag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
  }
  .searchAndBag .numberBag {
    color: rgb(255, 249, 237);
    margin-left: 1.5em;
    margin-top: -1em;
  }
  .titleBoutique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleBoutique figure a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titleBoutique figure a img {
    width: 20%;
  }
  .allShirt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
  }
  .allShirt .shirtSale {
    display: flex;
    flex-direction: column;
  }
  .allShirt .shirtSale .shirtOne {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .allShirt .shirtSale .shirtOne img {
    width: 80%;
    gap: 1em;
    border-radius: 1rem;
    cursor: pointer;
  }
  .allShirt .shirtSale ul li h2 {
    cursor: pointer;
  }
  .allShirt .shirtSale ul li h2 a {
    color: rgb(255, 249, 237);
  }
  .allShirt .shirtSale ul li h2 a:hover {
    text-decoration: underline;
  }
  .allShirt .shirtSale ul li p {
    cursor: pointer;
  }
  .maillot .shirtOne {
    width: 100%;
  }
  .maillot .shirtOne img {
    border-radius: 2rem;
    width: 100%;
  }
  .maillot .shirtTwo {
    width: 100%;
  }
  .maillot .shirtTwo img {
    width: 25%;
    margin: 0 auto;
    border-radius: 1rem;
  }
  .pannier {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 249, 237);
    border: 5px solid rgb(255, 249, 237);
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2rem;
    padding: 1em;
    position: absolute;
    top: 7em;
    left: 4em;
  }
  .pannier .divRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .pannier .divRow figure img {
    width: 50%;
  }
}
/**********************PANIER********************/
.panier {
  padding-top: 2em;
}
.panier h2 {
  font-size: 2.5rem;
  margin-left: 1em;
}
.panier p {
  text-align: center;
  font-size: 2rem;
}
.panier .panierUser ul {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: -5em;
  margin-bottom: 2em;
}
.panier .panierUser ul .firstLi figure {
  width: 100%;
}
.panier .panierUser ul .firstLi figure img {
  width: 50%;
  border-radius: 0.5rem;
}
.panier .panierUser ul .secondLi {
  margin-left: -2.5em;
  margin-right: 1em;
}
.panier .panierUser ul .secondLi h6 {
  font-size: 1.6rem;
}
.panier .panierUser ul .secondLi .divCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.panier .panierUser ul .secondLi .divCol .btnPlus, .panier .panierUser ul .secondLi .divCol .btnMoins {
  padding: 0.1em 1em;
  font-size: 1.5rem;
}
.panier .panierUser ul .secondLi .divCol .panier-price-quantity {
  font-size: 2rem;
}
.panier .panierUser ul .secondLi .divCol p {
  margin-top: 0.7em;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;
}
.location button {
  font-size: 1.6rem;
}

/********************** PAYEMENT *************************/
@media screen and (max-width: 480px) {
  .payement {
    width: 80%;
    margin: 0 auto;
  }
  .payement .orderUser .orderUser-connexion {
    text-align: center;
  }
  .payement .orderUser .orderUser-connexion h2 {
    border-right: 1px solid rgb(255, 249, 237);
    border-left: 1px solid rgb(255, 249, 237);
  }
  .payement .orderUser .orderUser-connexion form {
    margin: 2em 0;
  }
  .payement .orderUser .orderUser-connexion form input {
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(255, 249, 237);
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .payement .orderUser .orderUser-connexion form p {
    cursor: pointer;
  }
  .payement .orderUser .orderUser-address h2 {
    text-align: center;
    border-right: 1px solid rgb(255, 249, 237);
    border-left: 1px solid rgb(255, 249, 237);
  }
  .payement .orderUser .orderUser-address form {
    margin: 2em 0;
  }
  .payement .orderUser .orderUser-address form input, .payement .orderUser .orderUser-address form select {
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgb(255, 249, 237);
    padding: 0.5em;
    margin-bottom: 1em;
  }
  .payement .orderUser .orderUser-address form p {
    cursor: pointer;
  }
}
/*********************Biletterie***********************/
.img-background {
  background-image: url(https://live.staticflickr.com/65535/53584464592_e402863481_z.jpg);
  background-size: cover;
  margin-left: -0.4em;
  margin-right: -0.4em;
  padding: 3em;
}

.nextMatch h2 {
  text-align: center;
}
.nextMatch .matchs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 0;
}
.nextMatch .matchs .reservation {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
  border-radius: 1rem;
  border: 5px solid rgb(255, 249, 237);
  text-align: center;
  padding: 1em;
  margin-top: -2em;
  margin-bottom: 5em;
}

/**************************RESERVATION*************************/
.stadiumTicket {
  position: relative;
}
.stadiumTicket img {
  margin: 0 auto;
}

.allTickets {
  text-align: center;
}
.allTickets .tickets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 1em;
  border: 2px solid rgb(255, 249, 237);
}
.allTickets .tickets .tribune {
  grid-column: 1/2;
}
.allTickets .tickets .tickets-prices {
  grid-column: 2/2;
}
.allTickets .tickets > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -5em;
}
.allTickets .tickets > ul li {
  display: flex;
  flex-direction: row;
  gap: 0 1em;
}

/**********COMPTE USER***********/
.mesCommandes .vosTickets, .mesCommandes .vosProduits {
  font-size: 1.2rem;
}
.mesCommandes .vosTickets-order {
  display: flex;
  flex-direction: column;
}
.mesCommandes .vosTickets-order article {
  padding: 1em;
}
.mesCommandes .vosTickets-order article + article {
  border-top: 2px solid rgb(255, 249, 237);
  width: 100%;
}
.mesCommandes .vosTickets-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mesCommandes .vosTickets-info figure {
  width: 50%;
  margin-left: 2em;
}
.mesCommandes .vosTickets-info figure img {
  width: 100%;
  border-radius: 1rem;
}
.mesCommandes .vosTickets-info div {
  margin-left: -3em;
}
.mesCommandes .vosProduits-order {
  border: 2px solid rgb(137, 137, 137);
  margin-bottom: 2em;
}
.mesCommandes .vosProduits-order article {
  padding: 1em;
}
.mesCommandes .vosProduits-order article + article {
  border-top: 2px solid rgb(255, 249, 237);
  width: 100%;
}
.mesCommandes .vosProduits-order .vosProduits-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  background-color: rgb(137, 137, 137);
}
.mesCommandes .vosProduits-order .vosProduits-info figure {
  width: 30%;
  padding: 0;
}
.mesCommandes .vosProduits-order .vosProduits-info figure img {
  width: 100%;
  border-radius: 1rem;
}
.mesCommandes .vosProduits-order .vosProduits-info div ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 480px) {
  /*********************************
              * HOME *
  *********************************/
  @keyframes showContent {
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
  .home {
    background-image: url(https://live.staticflickr.com/65535/53561068793_a7b0b0feac.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 2em;
  }
  .home h1 {
    font-size: 7rem;
    font-weight: 700;
    text-wrap: wrap;
    padding-top: 1em;
    text-shadow: 0 10px 10px rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding-top: 2em;
    /*transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.3s 1s linear 1 forwards;*/
  }
  .home figure {
    width: 20%;
    margin: 0 auto;
    padding-top: 5em;
  }
  .home figure img {
    width: 100%;
    margin-top: 2em;
    /*transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.3s 1s linear 1 forwards;*/
  }
  .home .btnProchainMatch {
    display: flex;
    justify-content: center;
    padding-top: 10em;
  }
  .home .btnProchainMatch button {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 0.5em 1em;
  }
  .container-prochainMatch {
    padding: 1em;
  }
  .container-prochainMatch article {
    border: 2px solid rgb(255, 249, 237);
    border-radius: 1rem;
    padding: 1em;
    text-align: center;
    margin: 1em;
  }
  .container-prochainMatch .prochainMatch .teamForMatch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;
  }
  .container-prochainMatch .prochainMatch .teamForMatch figure {
    width: 20%;
  }
  .container-prochainMatch .prochainMatch .teamForMatch figure img {
    width: 100%;
  }
  .container-prochainMatch .prochainMatch .teamForMatch figure figcaption {
    margin-top: 0.5em;
    text-wrap: pretty;
  }
  .container-prochainMatch .lastResult .teamForLastMatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .container-prochainMatch .lastResult .teamForLastMatch p {
    background-color: rgb(25, 30, 59);
    padding: 0.5em;
  }
  .container-prochainMatch .lastResult figure {
    width: 20%;
  }
  .container-prochainMatch .lastResult figure img {
    width: 100%;
  }
  .container-prochainMatch .ranking {
    text-align: center;
  }
  .container-prochainMatch .ranking h2 {
    text-align: center;
  }
  .container-prochainMatch .ranking table td {
    border-top: 1px solid rgb(255, 249, 237);
  }
  .container-prochainMatch .ranking table .rankingTd {
    width: 5%;
  }
  .container-prochainMatch .ranking table .rankingTdTeam {
    width: 15%;
  }
  .container-prochainMatch .ranking table .rankingTdTeam img {
    width: 10%;
  }
  .homeActualite h2 {
    position: absolute;
    z-index: 99;
    color: rgb(250, 250, 250);
    padding: 0.5em;
    background-color: black;
  }
  .homeActualite .allArticle {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .homeActualite .allArticle .article {
    flex: 1 0 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    margin-bottom: 2em;
  }
  .homeActualite .allArticle .article h3 {
    margin-left: 10%;
    color: rgb(250, 250, 250);
    font-size: 2rem;
    text-wrap: wrap;
    background-color: black;
    border: 3px solid rgb(255, 249, 237);
    padding: 0.5em;
    position: absolute;
    bottom: 10%;
    width: 70%;
  }
  .homeActualite .allArticle .article div {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    position: absolute;
    z-index: 98;
    left: 40%;
    bottom: 5%;
  }
  .homeActualite .allArticle .article div button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 249, 237);
    border: 2px solid rgb(255, 249, 237);
    border-radius: 1rem;
    padding: 0.1em 1em;
    opacity: 0.3;
  }
  .homeActualite .allArticle .article figure {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    gap: 1em;
    width: 30%;
    text-shadow: 0 5px 10px rgb(0, 0, 0);
  }
  .homeActualite .allArticle .article figure img {
    flex-shrink: 0;
    cursor: pointer;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .homeActualite .allArticle .article figure img:hover {
    background-color: rgb(250, 250, 250);
    opacity: 0.5;
  }
}
.espaceAdmin {
  text-align: center;
  padding-bottom: 2em;
  width: 100%;
}
.espaceAdmin h1 {
  padding: 2em;
}
.espaceAdmin ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.espaceAdmin ul li {
  border: 3px solid rgb(255, 249, 237);
  border-radius: 1rem;
  padding: 1em;
  width: 100%;
}
.espaceAdmin ul li a {
  color: rgb(255, 249, 237);
}

.allRanking {
  height: 100vh;
}
.allRanking button {
  margin: 2em;
}
.allRanking h1 {
  text-align: center;
}
.allRanking table {
  margin: 2em auto;
}
.allRanking table thead tr th {
  border-right: 1px solid rgb(255, 249, 237);
  text-align: center;
}
.allRanking table tbody tr td {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(255, 249, 237);
}
.allRanking table tbody tr .td {
  width: 8%;
}
.allRanking table tbody tr .tdTeam {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.allRanking table tbody tr .tdTeam img {
  width: 15%;
  border-radius: 50%;
}

.formulaire {
  padding-top: 5em;
  text-align: center;
}
.formulaire a i {
  padding: 1em;
}
.formulaire .form {
  border: 5px solid rgb(255, 249, 237);
  border-radius: 2rem;
  width: 80%;
  margin: 2em auto;
}
.formulaire .form fieldset {
  padding: 0.5em;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form fieldset input {
  background-color: rgb(255, 249, 237);
  border-radius: 0.5rem;
  border: 1px solid rgb(25, 30, 59);
}
.form fieldset label {
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 770px) and (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
/*****************BUTTON**************/
.btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
  border: 3px solid rgb(255, 249, 237);
  border-radius: 1rem;
  padding: 0.5 1em;
}
.btn:hover {
  background-color: rgb(255, 249, 237);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(137, 137, 137);
  transition: all 1s;
}/*# sourceMappingURL=style.css.map */