@import "reset/reset";

@import "vars/font";

@import "partials/header";
@import "partials/nav";
@import "partials/boutique";
@import "partials/payement";
@import "partials/biletterie";

//@media screen and (max-width: 480px) {
.container{
    background-color: $black;
    color: $beige;
    font-family: $font2;
    max-width: 480px;
    margin: 0 auto;
}

//}


/*****************BUTTON**************/
.btn{
    background-color: $black;
    color: $beige;
    border: 3px solid $beige;
    border-radius: 1rem;
    padding: 0.5 1em;
    &:hover{
        background-color: $beige;
        color: $black;
        border: 3px solid $darkgrey;
        transition: all 1s;
    }
}