@import "reset/reset";

@import "vars/font";

@import "partials/header";
@import "partials/nav";
@import "partials/boutique";
@import "partials/payement";

.container{
    background-color: $black;
    color: $beige;
    font-family: $font2;
}

