* {
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-wrap: pretty;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-weight: 700;
  font-family: "Poppins", sans-serif !important;
}

.invisible {
  display: none !important;
}

.visible {
  display: block;
}

/********************** HEADER *****************/
.header {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 100;
}
.header div p {
  color: rgb(0, 0, 0);
}
.header figure {
  position: absolute;
  top: -0.2em;
  right: 48.5%;
  width: 7%;
  padding-top: 0.5em;
  margin-left: -6em;
}
.header figure img {
  width: 100%;
  display: none;
}

/***********************  NAVIGATION  ***********************/
.openMenu {
  margin-top: 0.5em;
}

.navMobile {
  display: none;
  padding-top: 2em;
  position: fixed;
  top: 3.5em;
  left: 0;
  background-color: rgb(255, 249, 237);
  width: 100vw;
  height: 110vh;
  margin-top: -5em;
  z-index: 5;
}
.navMobile div p {
  color: rgb(0, 0, 0);
}
.navMobile .closeMenu {
  padding: 2em 0 2em 50%;
}
.navMobile .nav-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navMobile .nav-links ul li {
  text-transform: uppercase;
  padding: 1em 0;
}

.bodyBack {
  background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 1em;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }
  .header figure {
    width: 4%;
  }
  .header figure img {
    width: 100%;
    left: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 1em;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }
  .header figure {
    width: 4%;
  }
  .header figure img {
    width: 100%;
    left: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    padding: 1em;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    /***********************  NAVIGATION  ***********************/
  }
  .header figure {
    width: 4%;
  }
  .header figure img {
    width: 100%;
    left: 50%;
    margin: 0 auto;
  }
  .header .openMenu {
    display: none;
  }
  .header .navMobile {
    display: block;
    top: 3em;
    left: 0;
    height: 0vh;
  }
  .header .navMobile .closeMenu {
    display: none;
  }
  .header .navMobile .nav-links ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0;
  }
  .header .navMobile .nav-links ul li:nth-of-type(2) {
    margin-right: 6em;
  }
  .header .navMobile .nav-links ul li:nth-of-type(3) {
    margin-left: 6em;
  }
  .header .navMobile .nav-links ul a {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .header .navMobile .nav-links ul span {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 1em;
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    /***********************  NAVIGATION  ***********************/
  }
  .header figure {
    width: 4%;
  }
  .header figure img {
    width: 100%;
    left: 50%;
    margin: 0 auto;
  }
  .header .openMenu {
    display: none;
  }
  .header .navMobile {
    display: block;
    top: 3em;
    left: 0;
    height: 0vh;
  }
  .header .navMobile .closeMenu {
    display: none;
  }
  .header .navMobile .nav-links ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0;
  }
  .header .navMobile .nav-links ul li:nth-of-type(2) {
    margin-right: 6em;
  }
  .header .navMobile .nav-links ul li:nth-of-type(3) {
    margin-left: 6em;
  }
  .header .navMobile .nav-links ul a {
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .header .navMobile .nav-links ul span {
    display: none;
  }
}
/*********************************
            * SHOP *
*********************************/
.pageBoutique {
  width: 100%;
  margin: 0;
  padding: 5em 0em;
  /**********************CART********************/
  /**********************************************
              * SHOP PRODUCTS *
  ************************************************/
}
.pageBoutique h1, .pageBoutique p {
  text-align: center;
}
.pageBoutique figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageBoutique figure img {
  width: 20%;
  margin: 0 auto;
}
.pageBoutique .searchAndBag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4em 0 1em 0;
}
.pageBoutique .searchAndBag .numberBag {
  color: rgb(255, 249, 237);
  margin-left: 1.5em;
  margin-top: -1em;
}
.pageBoutique .searchAndBag .bagProduct .valueBasket {
  background-color: red;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1em;
}
.pageBoutique .allShirt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 1em 7em 1em;
}
.pageBoutique .allShirt .shirtSale {
  display: flex;
  flex-direction: column;
}
.pageBoutique .allShirt .shirtSale .shirtOne {
  width: 100%;
  margin-left: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}
.pageBoutique .allShirt .shirtSale .shirtOne img {
  width: 80%;
  gap: 1em;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgb(255, 249, 237) 0px 10px 15px -3px, rgb(255, 249, 237) 0px 4px 6px -2px;
}
.pageBoutique .allShirt .shirtSale ul li h2 {
  cursor: pointer;
  text-align: center;
}
.pageBoutique .allShirt .shirtSale ul li h2 a {
  color: rgb(255, 249, 237);
}
.pageBoutique .allShirt .shirtSale ul li h2 a:hover {
  text-decoration: underline;
}
.pageBoutique .allShirt .shirtSale ul li p {
  cursor: pointer;
}
.pageBoutique .bagProductsUser {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
  border: 5px solid rgb(255, 249, 237);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-radius: 2rem;
  padding: 1em;
  position: absolute;
  top: 7em;
  left: 4em;
}
.pageBoutique .bagProductsUser .bagProducts .firstLi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pageBoutique .bagProductsUser .bagProducts .firstLi figure {
  width: 30%;
}
.pageBoutique .bagProductsUser .bagProducts .firstLi figure img {
  width: 100%;
  border-radius: 0.5rem;
}
.pageBoutique .carts {
  padding-top: 5em;
  height: 81vh;
}
.pageBoutique .carts h2 {
  font-size: 2.5rem;
  margin-left: 1em;
  margin-bottom: 1em;
}
.pageBoutique .carts p {
  text-align: center;
  font-size: 2rem;
}
.pageBoutique .carts .cartsProducts ul {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-bottom: 2em;
}
.pageBoutique .carts .cartsProducts ul .firstLi figure {
  width: 50%;
}
.pageBoutique .carts .cartsProducts ul .firstLi figure img {
  width: 100%;
  border-radius: 0.5rem;
}
.pageBoutique .carts .cartsProducts ul .secondLi {
  margin-left: -2.5em;
  margin-right: 1em;
}
.pageBoutique .carts .cartsProducts ul .secondLi h6 {
  font-size: 1.6rem;
}
.pageBoutique .carts .cartsProducts ul .secondLi .divCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pageBoutique .carts .cartsProducts ul .secondLi .divCol .btnAdd, .pageBoutique .carts .cartsProducts ul .secondLi .divCol .btnLess {
  padding: 0.1em 1em;
  font-size: 1.5rem;
}
.pageBoutique .carts .cartsProducts ul .secondLi .divCol .cartsPriceQuantity {
  font-size: 2rem;
}
.pageBoutique .carts .cartsProducts ul .secondLi .divCol p {
  margin-top: 0.7em;
}
.pageBoutique .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;
  margin-bottom: 7em;
}
.pageBoutique .location button {
  font-size: 2rem;
}
.pageBoutique .shirts {
  margin: 2em 2em 7em 2em;
}
.pageBoutique .shirts .shirtSale .shirtOne {
  width: 100%;
}
.pageBoutique .shirts .shirtSale .shirtOne img {
  border-radius: 2rem;
  width: 100%;
  box-shadow: rgb(255, 249, 237) 0px 13px 25px -5px, rgb(255, 249, 237) 0px 8px 16px -8px;
}
.pageBoutique .shirts .shirtSale .shirtTwo {
  width: 100%;
}
.pageBoutique .shirts .shirtSale .shirtTwo img {
  width: 25%;
  margin: 0 auto;
  border-radius: 1rem;
  cursor: pointer;
}
.pageBoutique .shirts .shirtSale ul {
  padding: 0;
  font-size: 2rem;
}
.pageBoutique .shirts .shirtSale ul .size #size {
  padding: 0.01em 0.5em;
  border-radius: 1rem;
}
.pageBoutique .shirts .shirtSale ul .addCart {
  text-align: center;
  width: 100%;
  margin: 3em 0;
}
.pageBoutique .shirts .description {
  text-align: justify;
  border-top: 2px solid rgb(255, 249, 237);
  border-bottom: 2px solid rgb(255, 249, 237);
  padding: 1em;
}
.pageBoutique .shirts .description h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageBoutique .shirts .description p {
  padding: 1em 0;
}

/*************************************************
                * PAYEMENT  *
*************************************************/
.titleBoutiquePayement, .titleBiletteriePayement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}
.titleBoutiquePayement figure, .titleBiletteriePayement figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleBoutiquePayement figure img, .titleBiletteriePayement figure img {
  width: 20%;
  margin: 0 auto;
}

.personalInfoUser p:last-child {
  margin: 2em 0;
}

.payement {
  width: 80%;
  margin: 0 auto 7em auto;
}
.payement .orderUser .orderUser-connexion {
  text-align: center;
}
.payement .orderUser .orderUser-connexion h2 {
  border-right: 1px solid rgb(255, 249, 237);
  border-left: 1px solid rgb(255, 249, 237);
  margin: 1em 0;
}
.payement .orderUser .orderUser-connexion form {
  margin: 2em 0;
}
.payement .orderUser .orderUser-connexion form input {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(255, 249, 237);
  padding: 0.5em;
  margin-bottom: 1em;
}
.payement .orderUser .orderUser-connexion form p {
  cursor: pointer;
}
.payement .orderUser .orderUser-connexion form button {
  margin-bottom: 1em;
  padding: 0.5em 2em;
  font-size: 1.3rem;
}
.payement .orderUser .orderUser-connexion .personalInfo {
  margin-top: 2em;
}
.payement .orderUser .orderUser-connexion .personalInfo p:nth-of-type(2) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.payement .orderUser .orderUser-address {
  margin-bottom: 2em;
}
.payement .orderUser .orderUser-address h2 {
  text-align: center;
  border-right: 1px solid rgb(255, 249, 237);
  border-left: 1px solid rgb(255, 249, 237);
}
.payement .orderUser .orderUser-address form {
  margin: 2em 0;
}
.payement .orderUser .orderUser-address form input, .payement .orderUser .orderUser-address form select {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgb(255, 249, 237);
  padding: 0.5em;
  margin-bottom: 1em;
}
.payement .orderUser .orderUser-address form p {
  cursor: pointer;
}
.payement .orderUser .orderUser-address form button {
  padding: 0.5em 2em;
  font-size: 1.3rem;
}
.payement .orderUser .orderUser-address article h3 {
  margin-top: 2em;
}
.payement .orderUser .orderUser-address article ul {
  text-align: center;
  margin: 2em;
}
.payement .orderUser .orderUser-address article a {
  color: rgb(255, 249, 237);
  cursor: pointer;
  padding-left: 4em;
}
.payement .orderUser .orderUser-address article a:hover {
  color: rgb(25, 30, 59);
}
.payement .payementCart {
  border-top: 2px solid rgb(255, 249, 237);
  border-bottom: 2px solid rgb(255, 249, 237);
  margin-bottom: 2em;
}
.payement .payementCart h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1em;
}
.payement .payementCart .recapCartUser .recapCartUserCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 2em;
}
.payement .payementCart .recapCartUser .recapCartUserCol h5 {
  font-size: 1.6rem;
  text-align: left;
  padding-top: -1em;
  margin-left: -2em;
  text-wrap: nowrap;
}
.payement .payementCart .recapCartUser .recapCartUserCol figure {
  width: 70%;
}
.payement .payementCart .recapCartUser .recapCartUserCol figure img {
  width: 100%;
  border-radius: 1rem;
}
.payement .payementCart .recapCartUser .recapCartUserCol .cartPriceQuantity {
  text-align: left;
  font-size: 2rem;
  grid-column: 2/2;
  margin-top: -2em;
  margin-left: -1em;
}
.payement .payementCart #totalPrice {
  text-align: center;
  font-size: 2rem;
}

.formStripe {
  margin-bottom: 3em;
}
.formStripe button {
  width: 100%;
  font-size: 1.5rem;
}

/*****************************************************
            * PAYEMENT TICKET *
*****************************************************/
.recapCartUser {
  padding: 1em;
  border-top: 2px solid rgb(255, 249, 237);
  border-bottom: 2px solid rgb(255, 249, 237);
  margin-bottom: 2em;
  text-align: center;
}
.recapCartUser h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.formTicketStripe button {
  width: 100%;
  font-size: 1.2rem;
}

/***********************************************************
            * PAYEMENT SUCCES *
***********************************************************/
.payementPassed {
  margin: 2em;
  padding-top: 8em;
}
.payementPassed h1 {
  text-align: center;
}
.payementPassed figure {
  width: 30%;
  margin: 2em auto;
}
.payementPassed figure img {
  width: 100%;
}
.payementPassed p {
  margin-top: 3em;
}
.payementPassed form {
  margin-top: 3em;
}
.payementPassed form button {
  width: 100%;
  margin: 0 auto;
}

/*********************************
            * BILETTERIE *
*********************************/
.nextMatch {
  padding-top: 2em;
  margin-bottom: 5em;
}
.nextMatch h2 {
  text-align: center;
}
.nextMatch .matchs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.nextMatch .matchs .reservation { /* ul */
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(255, 249, 237) 0px 25px 20px -20px;
  color: rgb(255, 249, 237);
  border-radius: 1rem;
  border: 5px solid rgb(255, 249, 237);
  text-align: center;
  padding: 1em;
  margin-top: -2em;
  margin-bottom: 5em;
}
.nextMatch .matchs .reservation li {
  text-transform: capitalize;
}
.nextMatch .matchs .reservation li figure {
  width: 90%;
  margin: 1em auto;
}
.nextMatch .matchs .reservation li figure img {
  width: 100%;
  border-radius: 1rem;
}

/**************************RESERVATION*************************/
.img-background {
  background-image: url(https://live.staticflickr.com/65535/53584464592_e402863481_z.jpg);
  background-size: cover;
  padding: 3em;
}
.img-background figure {
  width: 20%;
  padding-top: 2em;
  margin-bottom: -2em;
}
.img-background figure img {
  width: 100%;
}
.img-background h1 {
  padding-top: 2em;
}
.img-background p {
  margin-top: -0.5em;
}

.matchPresentation {
  margin: 2em;
}
.matchPresentation div {
  text-align: center;
}
.matchPresentation figure {
  width: 50%;
  margin: 2em auto;
}
.matchPresentation figure img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgb(255, 249, 237) 0px 4px 16px, rgb(255, 249, 237) 0px 8px 32px;
}

.selectPlaceMatch {
  margin: 2em;
}
.selectPlaceMatch h2 {
  margin-bottom: 1em;
  text-align: center;
}
.selectPlaceMatch figure {
  width: 100%;
}
.selectPlaceMatch figure img {
  width: 100%;
}

.allTickets {
  text-align: center;
  margin-bottom: 7em;
}
.allTickets h2 {
  margin-bottom: 2em;
}
.allTickets .tickets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: 2px solid rgb(255, 249, 237);
}
.allTickets .tickets .tribune {
  grid-column: 1/2;
}
.allTickets .tickets .tickets-prices {
  grid-column: 2/2;
}
.allTickets .tickets > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -7em;
  margin-top: 1em;
}
.allTickets .tickets > ul li {
  display: flex;
  flex-direction: row;
  gap: 0 1em;
}

/*********************************
            * USER ACCOUNT *
*********************************/
.myAccount {
  padding-top: 5em;
  margin: 0 2em;
  height: 81vh;
}
.myAccount form input, .myAccount form select {
  width: 100%;
  padding: 0.3em;
  border-radius: 1rem;
}
.myAccount form button {
  margin-top: 1em;
  width: 50%;
}
.myAccount h2 {
  margin: 2em 0;
  width: 80%;
  cursor: pointer;
}
.myAccount h2:hover {
  color: rgb(137, 137, 137);
}
.myAccount h3 {
  color: rgb(250, 250, 250);
  width: 80%;
  cursor: pointer;
}
.myAccount h3:hover {
  color: rgb(137, 137, 137);
}
.myAccount h1 {
  text-align: center;
  margin-bottom: 2em;
}
.myAccount .connectionAndSecurity .formChangeName {
  margin-bottom: 2em;
}
.myAccount .connectionAndSecurity .formChangerPassword {
  margin-bottom: 2em;
}
.myAccount .myOrder .yourTickets-order {
  display: flex;
  flex-direction: column;
}
.myAccount .myOrder .yourTickets-order article {
  padding: 1em;
}
.myAccount .myOrder .yourTickets-order article + article {
  border-top: 2px solid rgb(255, 249, 237);
  width: 100%;
}
.myAccount .myOrder .yourTickets-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.myAccount .myOrder .yourTickets-info figure {
  width: 50%;
  margin-left: 2em;
}
.myAccount .myOrder .yourTickets-info figure img {
  width: 100%;
  border-radius: 1rem;
}
.myAccount .myOrder .yourTickets-info div {
  margin-left: -3em;
}
.myAccount .myOrder .yourProducts-order {
  border: 2px solid rgb(137, 137, 137);
  margin-bottom: 2em;
}
.myAccount .myOrder .yourProducts-order article {
  padding: 1em;
}
.myAccount .myOrder .yourProducts-order article + article {
  border-top: 2px solid rgb(255, 249, 237);
  width: 100%;
}
.myAccount .myOrder .yourProducts-order .yourProducts-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  background-color: rgb(137, 137, 137);
}
.myAccount .myOrder .yourProducts-order .yourProducts-info figure {
  width: 30%;
  padding: 0;
}
.myAccount .myOrder .yourProducts-order .yourProducts-info figure img {
  width: 100%;
  border-radius: 1rem;
}
.myAccount .myOrder .yourProducts-order .yourProducts-info div ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-left: -1em;
}

/*********************************
            * HOME *
*********************************/
.pageHome {
  overflow: hidden;
  /*********************************
              * HOME ACTU *
  ********************************/
  /*********************************
              * HOME MATCH *
  ********************************/
  /*********************************
              * HOME CLUB *
  ********************************/
}
.pageHome .home {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
  padding-bottom: 2em;
  height: 100vh;
}
.pageHome .home h1 {
  font-size: 7rem;
  font-weight: 700;
  text-wrap: wrap;
  padding-top: 1em;
  text-shadow: 0 10px 10px rgb(0, 0, 0);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  padding-top: -5em;
}
.pageHome .home figure {
  width: 20%;
  margin: 0 auto;
  padding-top: 5em;
}
.pageHome .home figure img {
  width: 100%;
  margin-top: 2em;
}
.pageHome .home .btnProchainMatch {
  display: flex;
  justify-content: center;
}
.pageHome .home .btnProchainMatch button {
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0.5em 1em;
}
.pageHome .homeActualite {
  position: relative;
}
.pageHome .homeActualite h2 {
  position: absolute;
  z-index: 99;
  color: rgb(250, 250, 250);
  padding: 0.5em;
  background-color: black;
}
.pageHome .homeActualite .allArticle {
  position: relative;
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.pageHome .homeActualite .allArticle .article {
  flex: 1 0 100%;
  height: 95vh;
  text-align: left;
  margin-bottom: 2em;
}
.pageHome .homeActualite .allArticle .article a button {
  position: absolute;
  bottom: 9%;
  left: 10%;
  background-color: rgb(255, 249, 237);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
}
.pageHome .homeActualite .allArticle .article h3 {
  margin-left: 10%;
  color: rgb(250, 250, 250);
  font-size: 2rem;
  text-wrap: wrap;
  background-color: black;
  border: 3px solid rgb(255, 249, 237);
  padding: 0.5em;
  position: absolute;
  bottom: 13%;
  width: 70%;
}
.pageHome .homeActualite .allArticle .article figure img {
  height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.pageHome .buttonNextPrevious {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  position: absolute;
  bottom: 7%;
  left: 40%;
}
.pageHome .buttonNextPrevious button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
  border: 2px solid rgb(255, 249, 237);
  border-radius: 1rem;
  padding: 0.1em 1em;
}
.pageHome .container-prochainMatch {
  padding: 1em;
  /************ NEXT MATCH **********/
  /************ LAST MATCH **********/
  /************ RANKING **********/
}
.pageHome .container-prochainMatch article {
  border: 2px solid rgb(255, 249, 237);
  box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  border-radius: 1rem;
  padding: 1em;
  text-align: center;
  margin: 1em;
}
.pageHome .container-prochainMatch .prochainMatch {
  background-color: rgb(137, 137, 137);
}
.pageHome .container-prochainMatch .prochainMatch h3 {
  color: rgb(0, 0, 0);
}
.pageHome .container-prochainMatch .prochainMatch .prochainMatchDom {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-bottom: -0.5em;
}
.pageHome .container-prochainMatch .prochainMatch .prochainMatchEx {
  text-transform: uppercase;
  font-weight: 600;
}
.pageHome .container-prochainMatch .prochainMatch .prochainMatchDate {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}
.pageHome .container-prochainMatch .prochainMatch .teamForMatch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 1em;
}
.pageHome .container-prochainMatch .prochainMatch .teamForMatch p {
  background-color: rgb(0, 0, 0);
  font-weight: 900;
  padding: 0.5em;
  border-radius: 1rem;
}
.pageHome .container-prochainMatch .prochainMatch .teamForMatch figure {
  width: 20%;
}
.pageHome .container-prochainMatch .prochainMatch .teamForMatch figure img {
  width: 100%;
  border-radius: 1rem;
}
.pageHome .container-prochainMatch .prochainMatch .teamForMatch figure figcaption {
  margin-top: 0.5em;
  text-wrap: pretty;
}
.pageHome .container-prochainMatch .lastResult {
  background-color: rgb(137, 137, 137);
}
.pageHome .container-prochainMatch .lastResult h3 {
  color: rgb(0, 0, 0);
}
.pageHome .container-prochainMatch .lastResult .lastResultDom {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-bottom: -0.5em;
}
.pageHome .container-prochainMatch .lastResult .lastResultEx {
  text-transform: uppercase;
  font-weight: 600;
}
.pageHome .container-prochainMatch .lastResult .lastResultDate {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}
.pageHome .container-prochainMatch .lastResult .teamForLastMatch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.pageHome .container-prochainMatch .lastResult .teamForLastMatch p {
  background-color: rgb(25, 30, 59);
  font-weight: 900;
  padding: 0.5em;
  border-radius: 1rem;
}
.pageHome .container-prochainMatch .lastResult figure {
  width: 20%;
}
.pageHome .container-prochainMatch .lastResult figure img {
  width: 100%;
  border-radius: 1rem;
}
.pageHome .container-prochainMatch .ranking {
  text-align: center;
  background-color: rgb(137, 137, 137);
}
.pageHome .container-prochainMatch .ranking h3 {
  color: rgb(0, 0, 0);
}
.pageHome .container-prochainMatch .ranking table td {
  border-top: 1px solid rgb(255, 249, 237);
}
.pageHome .container-prochainMatch .ranking table .rankingTd {
  width: 5%;
}
.pageHome .container-prochainMatch .ranking table .rankingTdNsMasia {
  background-color: rgb(25, 30, 59);
}
.pageHome .container-prochainMatch .ranking table .rankingTdTeam {
  width: 15%;
}
.pageHome .container-prochainMatch .ranking button {
  width: 100%;
  padding: 0.3em;
  margin-top: 1em;
  font-size: 1.3rem;
}
.pageHome .homeClub {
  position: relative;
  margin-bottom: 5em;
}
.pageHome .homeClub h4 {
  color: rgb(250, 250, 250);
  padding: 0.5em;
  margin: 2em;
  position: relative;
  overflow: hidden;
}
.pageHome .homeClub h4::after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid rgb(255, 249, 237);
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
}
.pageHome .homeClub h4::after {
  left: 15%;
}
.pageHome .homeClub .homeClubHistoire {
  margin: 0 1em;
  position: relative;
}
.pageHome .homeClub .homeClubHistoire:hover {
  cursor: pointer;
  color: rgb(137, 137, 137);
  border: 3px solid rgb(137, 137, 137);
  border-radius: 2rem;
  box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
}
.pageHome .homeClub .homeClubHistoire a {
  color: rgb(250, 250, 250);
}
.pageHome .homeClub .homeClubHistoire a figure {
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.pageHome .homeClub .homeClubHistoire a figure img {
  border-radius: 1rem;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  filter: blur(2px);
}
.pageHome .homeClub .homeClubHistoire a h5 {
  position: absolute;
  z-index: 96;
  bottom: 22%;
  left: 5%;
  font-size: 2.5rem;
}
.pageHome .homeClub .homeClubHistoire a p {
  position: absolute;
  z-index: 96;
  bottom: 0;
  left: 5%;
  font-weight: 500;
}
.pageHome .homeClub .homeClubPlayers {
  margin: 1em;
  position: relative;
}
.pageHome .homeClub .homeClubPlayers:hover {
  cursor: pointer;
  color: rgb(137, 137, 137);
  border: 3px solid rgb(137, 137, 137);
  border-radius: 2rem;
  box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  filter: blur(0px);
}
.pageHome .homeClub .homeClubPlayers a {
  color: rgb(250, 250, 250);
}
.pageHome .homeClub .homeClubPlayers a figure {
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.pageHome .homeClub .homeClubPlayers a figure img {
  border-radius: 1rem;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  filter: blur(2px);
}
.pageHome .homeClub .homeClubPlayers a h5 {
  position: absolute;
  z-index: 96;
  bottom: 22%;
  left: 5%;
  font-size: 2.5rem;
}
.pageHome .homeClub .homeClubPlayers a p {
  position: absolute;
  z-index: 96;
  bottom: 0;
  left: 5%;
  font-weight: 500;
}
.pageHome .homeClub .diapoClub {
  display: none;
  margin-top: -4em;
}
.pageHome .homeClub .diapoClub .slideHomeClub {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 5em;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia {
  flex: 1 0 100%;
  text-align: left;
  display: flex;
  align-items: center;
  transition: none;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia .playersLenght {
  position: absolute;
  bottom: 0;
  text-wrap: nowrap;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia h6 {
  font-size: 7rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: rgb(25, 30, 59);
  position: absolute;
  bottom: 15%;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 5%;
  margin-left: -2em;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia div p:first-child {
  font-size: 2rem;
  position: absolute;
  bottom: 60%;
  left: 22%;
  font-weight: 500;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia div p:nth-child(2) {
  font-size: 3rem;
  padding-left: 1em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
.pageHome .homeClub .diapoClub .slideHomeClub .playersNsMasia figure img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.pageHome .homeClub .homeClubBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.pageHome .homeClub .homeClubBtn button {
  background-color: rgb(25, 30, 59);
  color: rgb(255, 249, 237);
  border: 2px solid rgb(255, 249, 237);
  border: none;
  padding: 1em;
}
.pageHome .homeClub .homeClubBtn button:first-of-type {
  position: absolute;
  bottom: 30%;
}
.pageHome .homeClub .homeClubBtn button:nth-of-type(2) {
  position: absolute;
  bottom: 30%;
  right: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .pageHome .homeClub {
    margin-bottom: 5em;
  }
  .pageHome .homeClub .diapoClub {
    display: none;
  }
  .pageHome .homeClub .homeClubBtn {
    display: none;
  }
  .pageHome .container-prochainMatch {
    margin: 0 5em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*********************************
      * HOME CLUB *
  ********************************/
  .pageHome {
    width: 99vw;
    /*********************************
                * HOME ACTU *
    ********************************/
    /*********************************
                * HOME CLUB *
    ********************************/
  }
  .pageHome h1 {
    font-size: 7rem;
    font-weight: 700;
    text-wrap: wrap;
    padding-top: 1em;
    text-shadow: 0 10px 10px rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding-top: -5em;
  }
  .pageHome .home {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 2em;
    height: 100vh;
  }
  .pageHome .home figure {
    width: 10%;
    margin: 0 auto;
    padding-top: 5em;
  }
  .pageHome .home figure img {
    width: 100%;
    margin-top: 2em;
  }
  .pageHome .home .btnProchainMatch {
    display: flex;
    justify-content: center;
  }
  .pageHome .home .btnProchainMatch button {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 0.5em 1em;
  }
  .pageHome .container-prochainMatch {
    margin: 0 5em;
  }
  .pageHome .homeActualite .allArticle .article figure img {
    width: 100%;
  }
  .pageHome .homeClub {
    margin-bottom: 10em;
  }
  .pageHome .homeClub .diapoClub {
    position: static;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 30%;
    margin-right: 30%;
  }
  .pageHome .homeClub .diapoClub .slideHomeClub {
    margin: 0 1em;
  }
  .pageHome .buttonNextPrevious {
    position: absolute;
    left: 46.5%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .pageHome {
    width: 99vw;
    /*********************************
                * HOME ACTU *
    ********************************/
    /*********************************
                * HOME CLUB *
    ********************************/
  }
  .pageHome h1 {
    font-size: 7rem;
    font-weight: 700;
    text-wrap: wrap;
    padding-top: 1em;
    text-shadow: 0 10px 10px rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding-top: -5em;
  }
  .pageHome .home {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 2em;
    height: 100vh;
  }
  .pageHome .home figure {
    width: 10%;
    margin: 0 auto;
    padding-top: 5em;
  }
  .pageHome .home figure img {
    width: 100%;
    margin-top: 2em;
  }
  .pageHome .home .btnProchainMatch {
    display: flex;
    justify-content: center;
  }
  .pageHome .home .btnProchainMatch button {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 0.5em 1em;
  }
  .pageHome .homeActualite .allArticle .article figure img {
    width: 100%;
  }
  .pageHome .container-prochainMatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pageHome .container-prochainMatch article {
    width: 50%;
    height: 35vh;
  }
  .pageHome .homeClub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20%;
    align-items: center;
    margin-bottom: -5em;
  }
  .pageHome .homeClub h4 {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin-bottom: 10em;
    font-size: 2.5rem;
  }
  .pageHome .homeClub .homeClubHistoire {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 5em;
  }
  .pageHome .homeClub .homeClubPlayers {
    grid-row: 3/3;
    grid-column: 1/2;
    margin-left: 5em;
  }
  .pageHome .homeClub .diapoClub {
    display: block;
    grid-row: 3/3;
    grid-column: 2/2;
    margin: -10em 2em 0 12em;
  }
  .pageHome .homeClub .homeClubBtn {
    display: block;
  }
  .pageHome .homeClub .homeClubBtn button:nth-of-type(1) {
    position: absolute;
    bottom: 40%;
    left: 65%;
  }
  .pageHome .homeClub .homeClubBtn button:nth-of-type(2) {
    position: absolute;
    bottom: 40%;
    right: 5%;
  }
  .pageHome .buttonNextPrevious {
    position: absolute;
    left: 46.5%;
  }
}
@media screen and (min-width: 1440px) {
  .pageHome {
    width: 99vw;
    /*********************************
                * HOME ACTU *
    ********************************/
    /*********************************
                * HOME CLUB *
    ********************************/
  }
  .pageHome h1 {
    font-size: 7rem;
    font-weight: 700;
    text-wrap: wrap;
    padding-top: 1em;
    text-shadow: 0 10px 10px rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    padding-top: -5em;
  }
  .pageHome .home {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 2em;
    height: 100vh;
  }
  .pageHome .home figure {
    width: 10%;
    margin: 0 auto;
    padding-top: 5em;
  }
  .pageHome .home figure img {
    width: 100%;
    margin-top: 2em;
  }
  .pageHome .home .btnProchainMatch {
    display: flex;
    justify-content: center;
  }
  .pageHome .home .btnProchainMatch button {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 0.5em 1em;
  }
  .pageHome .homeActualite .allArticle .article figure img {
    width: 100%;
  }
  .pageHome .container-prochainMatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pageHome .container-prochainMatch article {
    width: 50%;
    height: 35vh;
  }
  .pageHome .homeClub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20%;
    align-items: center;
    margin-bottom: -3em;
  }
  .pageHome .homeClub h4 {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    margin-bottom: 10em;
    font-size: 2.5rem;
  }
  .pageHome .homeClub .homeClubHistoire {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 5em;
  }
  .pageHome .homeClub .homeClubPlayers {
    grid-row: 3/3;
    grid-column: 1/2;
    margin-left: 5em;
  }
  .pageHome .homeClub .diapoClub {
    display: block;
    grid-row: 3/3;
    grid-column: 2/2;
    margin: -10em 2em 0 12em;
  }
  .pageHome .homeClub .diapoClub .slideHomeClub {
    margin: 0 10em;
  }
  .pageHome .homeClub .homeClubBtn {
    display: block;
  }
  .pageHome .homeClub .homeClubBtn button:nth-of-type(1) {
    position: absolute;
    bottom: 40%;
    left: 65%;
  }
  .pageHome .homeClub .homeClubBtn button:nth-of-type(2) {
    position: absolute;
    bottom: 40%;
    right: 5%;
  }
  .pageHome .buttonNextPrevious {
    position: absolute;
    left: 46.5%;
  }
}
/*********************************
            * RANKING *
*********************************/
.allRanking {
  padding-top: 3em;
  margin: 0 1em 7em 1em;
}
.allRanking button {
  margin: 2em;
}
.allRanking h1 {
  text-align: center;
}
.allRanking table {
  margin: 2em auto;
}
.allRanking table thead tr th {
  border-right: 1px solid rgb(255, 249, 237);
  border-bottom: 1px solid rgb(255, 249, 237);
  text-align: center;
  background-color: rgb(25, 30, 59);
  padding: 0.5em;
}
.allRanking table tbody tr td {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(255, 249, 237);
}
.allRanking table tbody tr .tdTeam {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  text-transform: uppercase;
}
.allRanking table tbody tr .tdTeam img {
  width: 30%;
  border-radius: 50%;
}

.formulaire {
  padding-top: 5em;
  text-align: center;
}
.formulaire a i {
  padding: 1em;
}
.formulaire .form {
  border: 5px solid rgb(255, 249, 237);
  border-radius: 2rem;
  width: 80%;
  margin: 2em auto;
}
.formulaire .form fieldset {
  padding: 0.5em;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form fieldset input {
  background-color: rgb(255, 249, 237);
  border-radius: 0.5rem;
  border: 1px solid rgb(25, 30, 59);
}
.form fieldset label {
  font-family: "Nunito", sans-serif;
}

/*********************************
        * ARTICLES NEWS *
*********************************/
.blockArticle {
  padding-top: 5em;
  margin: 0 0 5em 0;
  width: 100%;
}
.blockArticle h1 {
  margin-left: 1em;
  margin-bottom: 2em;
}
.blockArticle div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
}
.blockArticle div .articleContent {
  padding-top: 2em;
  border: 3px solid rgb(255, 249, 237);
  margin: 1em;
  box-shadow: rgb(255, 249, 237) 0px 3px 20px -5px, rgb(255, 249, 237) 0px 5px 5px -5px;
}
.blockArticle div .articleContent h2 {
  text-align: center;
}
.blockArticle div .articleContent figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.blockArticle div .articleContent figure figcaption {
  text-align: center;
}
.blockArticle div .articleContent p + p {
  margin-top: 1em;
}
.blockArticle div .articleContent p {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blockArticle div .articleContent a button {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(25, 30, 59);
  color: rgb(255, 249, 237);
  font-size: 2rem;
}

.articleAllContent {
  margin-bottom: 7em;
  padding-top: 4em;
}
.articleAllContent button {
  margin: 1em;
}
.articleAllContent h1 {
  text-align: center;
  padding-bottom: 1em;
}
.articleAllContent figure figcaption {
  text-align: center;
}
.articleAllContent p {
  margin: 1em;
  text-align: justify;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .blockArticle {
    padding-top: 8em;
    margin: 0 20% 10em 10%;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .blockArticle {
    padding-top: 8em;
    margin: 0 20% 10em 20%;
    width: 100%;
  }
}
/*********************************
                * CLUB *
*********************************/
.pageClub {
  padding-top: 5em;
  width: 100%;
  margin: 0 25%;
}
.pageClub nav {
  margin: 2em 0;
}
.pageClub nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pageClub nav ul li:first-of-type {
  cursor: pointer;
  border: none;
  background-color: rgb(25, 30, 59);
  padding: 0.5em;
  border-radius: 1rem;
}
.pageClub nav ul li:first-of-type:hover {
  display: inline-block;
  color: rgb(250, 250, 250);
  box-shadow: rgb(255, 249, 237) 0px 3px 10px 0px;
}
.pageClub nav ul li:nth-of-type(2) {
  cursor: pointer;
  border: none;
  background-color: rgb(25, 30, 59);
  padding: 0.5em;
  border-radius: 1rem;
}
.pageClub nav ul li:nth-of-type(2):hover {
  display: inline-block;
  color: rgb(250, 250, 250);
  box-shadow: rgb(255, 249, 237) 0px 3px 10px 0px;
}
.pageClub .historyClub {
  text-align: justify;
}
.pageClub .historyClub h2 {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.pageClub .historyClub h2::before, .pageClub .historyClub h2::after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid rgb(25, 30, 59);
  margin: auto;
  position: absolute;
  top: 0.5%;
  width: 100%;
}
.pageClub .historyClub h2::before {
  right: 75%;
}
.pageClub .historyClub h2::after {
  left: 75%;
}
.pageClub .historyClub h3 {
  text-align: left;
  margin: 2em 0;
}
.pageClub .playersClub {
  margin: 0;
}
.pageClub .playersClub h2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 2em 0;
}
.pageClub .playersClub h2::before, .pageClub .playersClub h2::after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid rgb(25, 30, 59);
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
}
.pageClub .playersClub h2::before {
  right: 70%;
}
.pageClub .playersClub h2::after {
  left: 70%;
}
.pageClub .playersClub article h3 {
  text-align: center;
  margin: 2em 0;
}
.pageClub .playersClub article ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background-color: rgb(25, 30, 59);
  border: none;
  box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  margin: 1em 0;
}
.pageClub .playersClub article ul li:first-of-type {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  position: absolute;
  bottom: -20%;
}
.pageClub .playersClub article ul li:nth-of-type(2) {
  padding-left: 4em;
}
.pageClub .playersClub article ul li:nth-of-type(3) {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.pageClub .playersClub article ul .playersClubImg img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 57px;
}

@media screen and (min-width: 490px) and (max-width: 768px) {
  .pageClub .playersClub article ul {
    padding: 2em;
  }
  .pageClub .playersClub article ul li:first-of-type {
    bottom: 0;
    top: 10px;
  }
  .pageClub .playersClub article ul li:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul li:nth-of-type(3) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul .playersClubImg img {
    top: -5;
    height: 10em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pageClub .playersClub article ul {
    padding: 2em;
  }
  .pageClub .playersClub article ul li:first-of-type {
    bottom: 0;
    top: 10px;
  }
  .pageClub .playersClub article ul li:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul li:nth-of-type(3) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul .playersClubImg img {
    top: -5;
    height: 10em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .pageClub .playersClub article ul {
    padding: 2em;
  }
  .pageClub .playersClub article ul li:first-of-type {
    bottom: 0;
    top: 10px;
  }
  .pageClub .playersClub article ul li:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul li:nth-of-type(3) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul .playersClubImg img {
    top: -5;
    height: 10em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  }
}
@media screen and (min-width: 1440px) {
  .pageClub .playersClub article ul {
    padding: 2em;
  }
  .pageClub .playersClub article ul li:first-of-type {
    bottom: 0;
    top: 10px;
  }
  .pageClub .playersClub article ul li:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul li:nth-of-type(3) {
    font-size: 2.5rem;
  }
  .pageClub .playersClub article ul .playersClubImg img {
    top: -5;
    height: 10em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgb(255, 249, 237) 0px 2px 8px 0px;
  }
}
.socialNetworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-image: url(https://live.staticflickr.com/65535/53561068793_a7b0b0feac_w.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 170px;
  width: 100%;
}
.socialNetworks figure {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: -1.5em;
}
.socialNetworks figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.socialNetworks ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-bottom: -2em;
}

.infoClub {
  margin-top: 2em;
}
.infoClub ul li {
  text-align: center;
}

.footer {
  padding-bottom: 0.5em;
}
.footer a {
  color: rgb(250, 250, 250);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .socialNetworks {
    padding: 0 2em;
    height: 30vh;
    background-position: center 65%;
  }
  .socialNetworks figure {
    width: 40%;
    gap: 2em;
    margin-top: -1.5em;
  }
  .socialNetworks figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .socialNetworks ul li {
    padding: 1em;
  }
  .socialNetworks ul li span {
    font-size: 4rem;
  }
  .infoClub {
    margin: 2em;
  }
  .infoClub ul li {
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .socialNetworks {
    padding: 0 2em;
    height: 30vh;
    background-position: center 65%;
  }
  .socialNetworks figure {
    width: 25%;
    gap: 2em;
    margin-top: -1.5em;
  }
  .socialNetworks figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .socialNetworks ul li {
    padding: 1em;
  }
  .socialNetworks ul li span {
    font-size: 5rem;
  }
  .infoClub {
    margin: 2em;
  }
  .infoClub ul li {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .socialNetworks {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    background-position: center 65%;
  }
  .socialNetworks figure {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1.5em;
  }
  .socialNetworks figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .socialNetworks ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: -2em;
  }
  .socialNetworks ul li {
    padding: 1em;
  }
  .socialNetworks ul li span {
    font-size: 6rem;
  }
  .infoClub {
    margin: 2em;
  }
  .infoClub ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .infoClub ul:nth-of-type(2) li {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .socialNetworks {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-position: center 65%;
  }
  .socialNetworks figure {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 0.5em;
  }
  .socialNetworks figure img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .socialNetworks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: -2em;
  }
  .socialNetworks ul li {
    padding: 1em;
  }
  .socialNetworks ul li span {
    font-size: 5rem;
  }
  .infoClub {
    margin: 2em;
  }
  .infoClub ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .infoClub ul li {
    text-align: center;
  }
}
/*********************************
            * ADMIN *
*********************************/
.adminMatchs form fieldset select option {
  width: 100%;
}

/********************************
            * SPACE ADMIN *
*********************************/
.espaceAdmin {
  padding-top: 2em;
  text-align: center;
  padding-bottom: 2em;
  width: 90%;
  margin: 0 auto;
}
.espaceAdmin h1 {
  padding: 2em;
}
.espaceAdmin ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 0;
}
.espaceAdmin ul li {
  border: 3px solid rgb(255, 249, 237);
  border-radius: 1rem;
  padding: 1em;
  width: 100%;
}
.espaceAdmin ul li a {
  color: rgb(255, 249, 237);
}

/********************************
        * ADMIN ACTUALITY * 
        * ADMIN CLUB *
        * ADMIN BOUTIQUE * 
        * ADMIN BILETTERIE *
*********************************/
.admin {
  padding-top: 5em;
}
.admin a {
  margin: 2em;
}
.admin h1 {
  margin: 1.5em;
}
.admin .handle {
  margin: 2em;
}
.admin .handle h2 {
  text-align: center;
}
.admin .handle ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  padding: 0;
}
.admin .handle .add, .admin .handle .change, .admin .handle .remove {
  margin: 3em 0;
}
.admin .handle .add h3, .admin .handle .change h3, .admin .handle .remove h3 {
  margin: 2em 0;
}
.admin .handle .add form fieldset input, .admin .handle .add form fieldset select, .admin .handle .add form fieldset textarea, .admin .handle .change form fieldset input, .admin .handle .change form fieldset select, .admin .handle .change form fieldset textarea, .admin .handle .remove form fieldset input, .admin .handle .remove form fieldset select, .admin .handle .remove form fieldset textarea {
  width: 100%;
  padding: 0.3em;
  border-radius: 0.5rem;
}
.admin .handle .add form fieldset button, .admin .handle .change form fieldset button, .admin .handle .remove form fieldset button {
  margin: 2em;
  width: 50%;
  font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 770px) and (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin: 0;
    font-family: "Nunito", sans-serif !important;
  }
}
/*****************BUTTON**************/
.btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 237);
  border: 3px solid rgb(255, 249, 237);
  border-radius: 1rem;
  padding: 0.5 1em;
  box-shadow: rgb(255, 249, 237) 0px 5px 5px -5px, rgb(255, 249, 237) 0px 5px 10px -5px;
}
.btn:hover {
  background-color: rgb(255, 249, 237);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(137, 137, 137);
  transition: all 1s;
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */