/*********************Biletterie***********************/
//@media screen and (min-width: 375px) and (max-width: 480px) {
    
    .nextMatch{
        padding-top: 2em;
        .img-background{
            background-image: url(https://live.staticflickr.com/65535/53584464592_e402863481_z.jpg);
            background-size: cover;
            margin-left: -0.4em;
            margin-right: -0.4em;
            padding: 3em;
            figure{
                width: 20%;
                img{
                    width: 100%;
                }
            }
        }

        h2{
            text-align: center;
        }
        
        .matchs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            padding: 0;
            width: 90%;
            margin: 0 auto;
            
            .reservation{
                background-color: $black;
                color:  $beige;
                border-radius: 1rem;
                border: 5px solid $beige;
                text-align: center;
                padding: 1em;
                margin-top: -2em;
                margin-bottom: 5em;
            } 
        }
    }



/**************************RESERVATION*************************/


.stadiumTicket {
    position: relative;
    img{
        margin: 0 auto;
    }
}

.allTickets{
    text-align: center;
    .tickets{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        padding: 1em;
        border: 2px solid $beige;
        .tribune{
            grid-column: 1/2;
        }
        .tickets-prices{
            grid-column: 2/2;
        }
        &>ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: -5em;
            
            li{
                display: flex;
                flex-direction: row;
                gap: 0 1em;
            }
        }
    }
}




//}