/*********************************
            * BILETTERIE *
*********************************/
    
    .nextMatch{
        padding-top: 2em;
        margin-bottom: 5em;
        h2{
            text-align: center;
        }
        
        .matchs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            padding: 0;
            width: 90%;
            margin: 0 auto;
            
            .reservation{ /* ul */
                background-color: $black;
                box-shadow: $beige 0px 25px 20px -20px;
                color:  $beige;
                border-radius: 1rem;
                border: 5px solid $beige;
                text-align: center;
                padding: 1em;
                margin-top: -2em;
                margin-bottom: 5em;
                li {
                    text-transform: capitalize;
                    figure{
                        width: 90%;
                        margin: 1em auto;
                        
                        img{
                            width: 100%;
                            border-radius: 1rem;
                        }
                    }
                }
            } 
        }
    }



/**************************RESERVATION*************************/

    .img-background{
        background-image: url(https://live.staticflickr.com/65535/53584464592_e402863481_z.jpg);
        background-size: cover;
        padding: 3em;
        figure{
            width: 20%;
            padding-top: 2em;
            margin-bottom: -2em;
            img{
                width: 100%;
            }
        }
        h1{
            padding-top: 2em;
        }
        p{
            margin-top: -0.5em;
        }
    }

    .matchPresentation{
        margin: 2em;
        div{
            text-align: center;
        }
        figure{
            width: 50%;
            margin: 2em auto;
            img{
                width: 100%;
                border-radius: 1rem;
                box-shadow: $beige 0px 4px 16px, $beige 0px 8px 32px;
            }
        }
    }

    .selectPlaceMatch{
        margin: 2em;
        h2{
            margin-bottom: 1em;
            text-align: center;
        }
        figure{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    .allTickets{
        text-align: center;
        margin-bottom: 7em;
        h2{
            margin-bottom: 2em;
        }
        .tickets{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            margin: 1em;
            padding: 1em;
            border: 2px solid $beige;
            .tribune{
                grid-column: 1/2;
            }
            .tickets-prices{
                grid-column: 2/2;
            }
            &>ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-right: -7em;
                margin-top: 1em;
                li{
                    display: flex;
                    flex-direction: row;
                    gap: 0 1em;
                }  
            }
        }
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
    
    }
    
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        
    }
    
    @media screen and (min-width: 1440px) {
        
    }