
.container{
    max-width: 480px;
    margin: 0 auto;
}

.searchAndBag{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;

    .numberBag{
        color: $beige;
        margin-left: 1.5em;
        margin-top: -1em;  
    }
}

.titleBoutique{
    //NsMasia FC + Boutique Officiel
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    figure a{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

         img{
            width: 20%;
        }
    }
    h1{
        //NsMasia FC
    }
    p{
        //Boutique Officiel
    }
}

.shirtSale{
    display: flex;
    flex-direction: column;

    .shirtOne{
        width: 100%;

        img{
            width: 80%;
            border-radius: 3rem;
        }
    }
    figure{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 20%;
        }
    }

    h2{
        //NsMasia FC Domicile
        
    }

    p{
        //Maillot domicile 2024/2025
        
    }
        
    ul{
        
        .taille{
            //taille
            margin-top: 2em;
            select{
                margin-left: 1em;
                width: 20%;
            }
        }
        .prix{
            //prix
            margin-top: 2em;
            margin-bottom: 2em;
              p{
                
              }  
                
        }

        .ajouterAuPannier{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3em;
        }
    }
}

div.maillot.maillot1 > section > ul > li:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.description{
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    h3{

    }
    p{

    }
}

.autreProduits{
    margin-bottom: 2em;
    h4{

    }
    figure{
        display: flex;
        flex-direction: row;
        img{

        }
    }
}


.pannier{
    background-color: $black;
    color: $beige;
    border: 5px solid $beige;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2rem;
    padding: 1em;
    position: absolute;
    top: 7em;
    left: 4em;

    article > ul > ul > li:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .pannier-divRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        

        .panier-img img{
            width: 15%;
            border-radius: 1rem;
        }
    }
    .pannier-divCol{
        display: flex;
        flex-direction: column;
        margin-left: -20em;
        margin-right: 2em;
    }
}

.boutiqueSearch{
    background-color: $black;
    color: $beige;
    border: 5px solid $beige;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2rem;
    padding: 1em;
    position: absolute;
    top: 7em;
    left: 4em;
}


