/**********COMPTE USER***********/
.myAccount{
    padding-top: 5em;
    margin: 0 2em;
    form{
        
            input, select{
                width: 100%;
                padding: 0.3em;
                border-radius: 1rem;
            }
            button{
                margin-top: 1em;
                width: 50%;
            }
        
    }
    
    h2{
        margin: 2em 0 ;
        width: 80%;
        cursor: pointer;
        &:hover{
            color: $darkgrey;
        }
    }
    h3{
        color: $white;
        width: 80%;
        cursor: pointer;
        &:hover{
            color: $darkgrey;
        }
    }
    h1{
        text-align: center;
        margin-bottom: 2em;
    }
    .connectionAndSecurity{
        .formChangeName{
            margin-bottom: 2em;
        }
        .formChangerPassword{
            margin-bottom: 2em;
        }
    }
    .myOrder{

        .yourTickets-order{
            display: flex;
            flex-direction: column;
            article{
                padding: 1em;
            }
            article+article{
                border-top: 2px solid $beige;
                width: 100%;
                
            }
        }
        .yourTickets-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            figure{
                width: 50%;
                margin-left: 2em;
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            div{
                margin-left: -3em;
            }
        }
    
        .yourProducts-order{
                border: 2px solid $darkgrey;
                margin-bottom: 2em;
            article{
                padding: 1em;
            }
            article+article{
                border-top: 2px solid $beige;
                width: 100%;
            }
            .yourProducts-info{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3em;
                background-color: $darkgrey;
                figure{
                    width: 30%;
                    padding: 0;
                    img{
                        width: 100%;
                        border-radius: 1rem;
                    }
                }
                div{
                    ul{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1em;
                        margin-left: -1em;
                    }
                }
            }
        }
    }
}
