
.home{
    background-image: url(https://live.staticflickr.com/65535/53561068793_a7b0b0feac.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    padding: 0;
    margin-top: -1em;

    h1{
        font-size: 7rem;
        font-weight : 700;
        text-wrap: wrap;
        margin: 0.5em;
        padding-top: 1em;
    }
    figure{
        width: 20%;
        margin: 0 auto;
        padding-top: 5em;
        img{
            width: 100%;
            margin-top: 2em;
        }
    }
    button{
        font-size: 2rem;
        margin-left: 6em;
        margin-top: 5em;
    }
}

.container-prochainMatch{
    padding: 1em;
    article{
        border: 2px solid $beige;
        border-radius: 1rem;
        padding: 1em;
        text-align: center;
        margin: 1em;
    }
    .prochainMatch{

        .teamForMatch{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0 1em;
            
            figure{
                width: 20%;
                img{
                    width: 100%;
                }
                figcaption{
                    margin-top: 0.5em;
                    text-wrap:pretty;
                } 
            }
                    
            
        }
    }
    .lastResult{
        .teamForLastMatch{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            p{
                background-color: $bleu;
                padding: 0.5em;
            }
        }
        figure{
            width: 20%;
            img{
                width: 100%;
            }
        }
    }
    .ranking{
        text-align: center;
        h2{
            text-align: center;
        }
        table{
            
            td{
                border-top: 1px solid $beige;
            }

            .rankingTd{
                width: 5%;
            }
            .rankingTdTeam{
                width: 15%;
                
                img{
                    width: 10%;
                    
                }
            }
        }
    }
}


