/***********************  NAVIGATION  ***********************/
.navMobile{
    padding-top: 2em;
    position: fixed;
    top: 3.5em;
    left: 0;
    background-color: $beige ;
    width: 100vw;
    height: 110vh;
    margin-top: -5em;
    z-index: 5;

    .closeMenu{
        margin-left: 1em;
    }
    .nav-links{
        ul{
            li{
                padding-top: 2em;
            }
        }
    } 
}

.bodyBack{
    background-color: $black;
    
}