{% extends "base.html.twig" %}

{% block main %}
    <main class="container">
        <article class="titleBiletteriePayement">
            <figure>
                <img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Biletterie Officiel</p>
        </article>
        <div class="payement">
            <div class="orderUser">
                <article class="orderUser-connexion">
                {% if userIsConect is empty %}
                <h2>Informations personels</h2>
                    <form action="index.php?route=check-login" method="POST" class=" formLogin">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="emailLogin">Email</label>
                            <input type="email" id="emailLogin" name="emailLogin" placeholder="email@gmail.com" required>
                        </fieldset>

                        <fieldset>
                            <label for="passwordLogin">Mot de passe</label>
                            <input type="password" id="passwordLogin" name="passwordLogin" placeholder="********" required>
                        </fieldset>

                        <fieldset>
                            <button type="submit" name="submit" class="btn">Se connecter</button>
                        </fieldset>
                        <p class="goSignup">Créer nouveau compte ?<p>
                    </form>

                    <form action="index.php?route=check-signup" method="POST" class="formSignup invisible" id="payment-form">
                    <input type="hidden" name="csrf-token" id="csrf-token" value="{{ tokenCSRF }}" />
                        <fieldset>
                            <label for="first_name">Prénom</label>
                            <input type="text" id="first_name" name="first_name" required>
                        </fieldset>

                        <fieldset>
                            <label for="emailLogin">Nom</label>
                            <input type="text" id="last_name" name="last_name" required>
                        </fieldset>

                        <fieldset>
                            <label for="emailSignup">Email</label>
                            <input type="email" id="emailSignup" name="emailSignup" placeholder="email@gmail.com" required>
                        </fieldset>

                        <fieldset>
                            <label for="passwordSignup">Mot de passe</label>
                            <input type="password" id="passwordSignup" name="passwordSignup" placeholder="********" required>
                        </fieldset>

                        <fieldset>
                            <label for="confirmPasswordSignup">Confirmer le mot de passe</label>
                            <input type="password" id="confirmPasswordSignup" name="confirmPasswordSignup" placeholder="********" required>
                        </fieldset>

                        <fieldset>
                        <button type="submit" name="submit" class="btn"> Créer nouveau compte</button>
                        </fieldset>
                        <p class="goLogin"> Se connecter ? <p>
                    </form>
                {% endif %}

                    {% if userIsConect is not empty %} <!-- Quand l'utilisateur n'est pas connecter-->
                        <article class="personalInfoUser">
                            <h2>Information personels</h2>
                            <p> {{ userIsConect }}</p>
                            <p class="invisible userEmail"> {{ userEmail}}</p>
                            <p>Poursuivre le processus d'achat <span class="fa-solid fa-circle-down" style="color: #ffffff;"></span></p>
                        </article>
                    {% endif %}
                </article>
            <section class="recapCartUser">
                <h4>Panier <span class="fa-solid fa-angle-up fa-flip-vertical fa-xl" id="lookTicket" style="color: #ffffff;"></span></h4>
                <div class="recapTicketUser invisible">
                        <div class="recapTicketUserDivCol">
                           <!-- <h5>Match</h5>
                            <p>Tribune</p>
                            <p>Prix x Quantité</p>-->
                        </div> 
                </div> 
                <p class="recapTicket-total"></p>
            </section> 
            {% if userIsConect is not empty %}
            <form action="index.php?route=stripePayTicket" method="POST" class="formTicketStripe">
                <button type="submit" class="btn">Passez au payement</button>
            </form>  
            {% endif %}
        </div>
    </main>
{% endblock %}