/*********************************
            * ADMIN *
*********************************/
    .adminMatchs{
        form{
            fieldset{
                select{
                    option{
                        width: 100%;
                    }
                }
            }
        }
    }

    /********************************
                * SPACE ADMIN *
    *********************************/

    .espaceAdmin{
        padding-top: 2em;
        text-align: center;
        padding-bottom: 2em;
        width: 90%;
        margin: 0 auto;
        h1{
            padding: 2em;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            padding: 0;
            li{
                border: 3px solid $beige;
                border-radius: 1rem;
                padding: 1em;
                width: 100%;
                a{
                    color: $beige;
                }
            }
        } 
    }
    /********************************
            * ADMIN ACTUALITY * 
            * ADMIN CLUB *
            * ADMIN BOUTIQUE * 
            * ADMIN BILETTERIE *
    *********************************/

    .admin{
        padding-top: 5em;
        padding-bottom: 3em;
        text-align: center;
        figure{
            margin: 1em auto ;
            width: 20%;
            img{
                width: 100%;
            }
        }
        .infoAltImg{
            figure{
                width: 90%;
                margin: 1em auto;
                img{
                    width: 100%;
                }
            }
        }
        .resultTeamRival{
            margin-bottom: 2em;
        }
        .btn{
            font-size: 1.8rem;
        }
        h1, h2, h3{
            margin: 1.5em; 
        }
        form{
            border: 2px solid $beige;
            padding: 1em;
            border-radius: 2rem;
            fieldset{
                input, select, textarea{
                    width: 80%;
                    padding: 0.3em;
                    border-radius: 1rem;
                }
                button{
                    margin: 2em ;
                    width: 50%;
                    font-size: 1.4rem;
                }
            }
        }
        .handle{
            margin: 2em;
            
            
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 2em;
                padding: 0;
            }
            .add, .change, .remove{
                margin: 3em 0;
                h3{
                    margin: 2em 0;
                }
            }
        }
    }   
    
    @media screen and (min-width: 481px) and (max-width: 768px) {
    
    }
    
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        
    }
    
    @media screen and (min-width: 1440px) {
        .admin{
            margin: 0 20em;
            
            
            form{
                width: 80%;
                margin: 0 auto;
            }
        }
        .espaceAdmin{
            padding-top: 2em;
            text-align: center;
            padding-bottom: 2em;
            width: 70%;
            margin: 0 auto;
            h1{
                padding: 2em;
            }
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1em;
                padding: 0;
                li{
                    border: 3px solid $beige;
                    border-radius: 1rem;
                    padding: 5em;
                    width: 100%;
                    a{
                        color: $beige;
                    }
                }
            } 
        }
            
    }