/*********************************
        * ARTICLES NEWS *
*********************************/
.blockArticle{
    padding-top: 5em;
    margin: 0 0 5em 0;
    width: 100%;
    h1{
        margin-left: 1em;
        margin-bottom: 2em;
    }
    div{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
        .articleContent{
            padding-top: 2em;
            border: 3px solid $beige;
            margin: 1em;
            box-shadow: $beige 0px 3px 20px -5px, $beige 0px 5px 5px -5px;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            h2{
                text-align: center;
            }
            figure{
                margin-top: 2em;
                margin-bottom: 2em;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                figcaption{
                    text-align: center;
                }
            }
            p+p{
                margin-top: 1em;
            }
            p{
                text-align: justify;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 1em;
                display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
            }
            a{
                
                    margin: 0 auto;
                    width: 100%;
                    background-color: $bleu;
                    color: $beige;
                    font-size: 2rem;
                    border-radius: none;
            }
        }
    }
}
.pagination {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 20px auto 2em auto;
    overflow:scroll;
    button {
        margin: 0 5px;
        padding: 10px 20px;
        border-radius: 1rem;
        text-align: center;
        border: none;
        background-color: $bleu;
        color: white;
        cursor: pointer;
        &.disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        &:first-of-type{
            position: absolute;
            left: 0;
        }
        &:last-of-type{
            position: absolute;
            right: 0;
        }
    }
} 

.articleAllContent {
    margin-bottom: 10em;
    padding: 5em 0 0 0;
    button{
        margin: 1em;
    }
    h1{
        text-align: center;
        padding-bottom: 1em;
    }
    figure{
        width: 100%;
        margin: 0 auto;
        img{
            width: 100%;
            box-shadow: white 0px 2px 8px 0px;
        }
        figcaption{
            text-align: center;
        }
    }
    p{
        margin: 1em;
        text-align: justify;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .blockArticle{
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2em;
        overflow:hidden;
        button {
            margin: 0 5px;
            padding: 10px 20px;
            border: none;
            background-color: $bleu;
            color: white;
            cursor: pointer;
            &.disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
            &:first-of-type{
                position: unset;
            }
            &:last-of-type{
                position: unset;
            }
        }
    } 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .blockArticle{
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
    .articleAllContent {
        .text-content{
            margin: 2em ;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2em;
        overflow:hidden;
        button {
            margin: 0 5px;
            padding: 10px 20px;
            border: none;
            background-color: $bleu;
            color: white;
            cursor: pointer;
            &.disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
            &:first-of-type{
                position: unset;
            }
            &:last-of-type{
                position: unset;
            }
        }
    }
} 

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .blockArticle{
        padding-top: 8em;
        margin: 0 5% 10em 5%;
        width: 100%;
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
    }
    .articleAllContent {
        .text-content{
            margin: 2em 10em;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2em;
        overflow:hidden;
        button {
            margin: 0 5px;
            padding: 10px 20px;
            border: none;
            background-color: $bleu;
            color: white;
            cursor: pointer;
            &.disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
            &:first-of-type{
                position: unset;
            }
            &:last-of-type{
                position: unset;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .blockArticle{
        padding-top: 8em;
        margin: 0 5em 10em 5em;
        width: 100%;
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
    }
    .articleAllContent {
        .text-content{
            margin: 2em 10em;
        }
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2em;
        overflow:hidden;
        button {
            margin: 0 5px;
            padding: 10px 20px;
            border: none;
            background-color: $bleu;
            color: white;
            cursor: pointer;
            &.disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
            &:first-of-type{
                position: unset;
            }
            &:last-of-type{
                position: unset;
            }
        }
    } 
}