/********************** HEADER *****************/

.header{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    position: relative;
    position:fixed;
    z-index: 100;
    .header-userConnect {
        background-color: $bleu;
        padding: 0.5em 1em 0 1em;
        border-radius: 2rem;
        margin-right: 3.5em;
       
        cursor: pointer;
        a{
            text-align: center;
            color: $beige;
            padding: 0.5em;
            &:hover{
                background-color: $black;
            }
        }
        
    }
    figure{
        position: absolute;
        top: -0.2em;
        width: 100%;
        text-align: center;
        padding-top: 2.5em;
            img{
                width: 10%;
                display: none;
                cursor: pointer;
            }
        
    }
}

/***********************  NAVIGATION  ***********************/
.openMenu{
    margin-top: 0.5em;
}
.navMobile{
    display: none;
    padding-top: 2em;
    position: fixed;
    top: 3.5em;
    left: 0;
    background-color: $beige ;
    width: 100vw;
    height: 110vh;
    margin-top: -5em;
    z-index: 5;
    div{
        p{
            color: $black ;
        }
    }
    .closeMenu{
        padding: 2em 0 2em 50%;
    }
    .nav-links{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                text-transform: uppercase;
                padding: 0.5em 0; 
                margin: 0;
                .btn{
                    background-color: $darkgrey;
                    font-size: 2rem;
                }
            }
        } 
    }
}

.bodyBack{
    background-color: $black; 
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .header{
        padding: 1em;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        a{
            width: 4%;
            
            img{
                width: 100%;
                left: 50%;
                margin: 0 auto;
            }
        }
        .userConnect{
            display: none;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header{
        padding: 1em;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        figure{
            padding-top: 2em;
            img{
                width: 8%;
            }
        }
        
    }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
    .header{
        padding: 2em;
        flex-direction: row-reverse;
        align-items: center;
        background-color: transparent;
        .header-userConnect {
            margin-right: -1em;
        }
        
        .openMenu {
            display: none;
        }
    /***********************  NAVIGATION  ***********************/
        .navMobile{
            display: block;
            top: 3em;
            left: 0;
            height: 0vh;
            .closeMenu{
                display: none;
            }
            .nav-links{
                .links{
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 2em;
                    padding: 0;
                    
                    li{
                        margin-top: 0.5em;
                    }
                    a{
                        color: white;
                        font-size: 2rem;
                        font-weight: 800;
                        text-align: center;
                        font-family: $font;
                    }
                    span{
                        display: none;
                    }
                } 
                
                .userConnect{
                    

                    li{
                        font-size: 1.6rem;
                        form{
                            button{
                                padding: 1em 5em;
                            }
                        }
                    }
                    a{
                        color: $black;
                    }
                }
            } 
        }
    }
}

@media screen and (min-width: 1351px) {
    .header{
        padding: 2em;
        flex-direction: row-reverse;
        align-items: center;
        background-color: transparent;
        .header-userConnect {
             margin-right: -1em;
        }
       
        div{
            p{

                font-family: $font;
                font-size: 1.8rem;
            }
        }
        .openMenu {
            display: none;
        }
    /***********************  NAVIGATION  ***********************/
        .navMobile{
            display: flex;
            justify-content: center;
            top: 3em;
            left: 0;
            height: 0vh;
            
            .closeMenu{
                display: none;
            }
            .nav-links{
                .userConnect{
                    
                    a{
                        color: black;
                    }
                    li{
                        form{
                            button{
                                padding: 1em 5em;
                            }
                        }
                    }
                }
                .links{
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 3em;
                    
                    padding:  0;
                    
                        li{
                            margin-top: 0.5em;
                        }
                    
                
                    a{
                        color: white;
                        font-size: 2rem;
                        font-weight: 900;
                        text-align: center;
                        font-family: $font;
                    }
                    span{
                        display: none;
                    }
                } 
            } 
        }
    }
}
