     /*********************************
                * HOME *
    *********************************/
     .pageHome{
        .home{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            padding-bottom: 2em;
            height: 100vh;

            h1{
                font-size: 7rem;
                font-weight : 700;
                text-wrap: wrap;
                padding-top: 1em;
                text-shadow: 0 10px 10px $black;
                text-transform: uppercase;
                font-style: italic;
                text-align: center;
                padding-top: -5em;
            }
            figure{
                width: 20%;
                margin: 0 auto;
                padding-top: 5em;

                img{
                    width: 100%;
                    margin-top: 2em;
                }
            }
            .btnProchainMatch{
                display: flex;
                justify-content: center;
                button{
                    font-size: 2rem;
                    border-radius: 2rem;
                    padding: 0.5em 1em ;
                }
            }
        }

        /*********************************
                    * HOME ACTU *
        ********************************/

        .homeActualite{ 
            position: relative;
            
            h2{
                position: absolute;
                z-index: 99;
                color: $white;
                padding: 0.5em;
                background-color: black;
            }
            .allArticle{ 
                position: relative;
                display: flex;
                overflow: hidden;
                transition: transform 0.3s ease;
                .article{ 
                    
                    flex : 1 0 100%;
                    height: 95vh;
                    text-align: left;
                    margin-bottom: 2em;
                    a{
                        
                        position: absolute;
                        bottom: 9%;
                        left: 10%;
                        background-color: $beige;
                        border: 3px solid $black;
                        border-radius: 1rem;
                        color: $black;
                        font-size: 1.5rem;
                        padding: 0.5em 1em;
                    }
                        h3{
                            margin-left: 10%;
                            color: $white;
                            font-size: 2rem;  
                            text-wrap: wrap;
                            background-color: black;
                            border: 3px solid $beige;
                            padding: 0.5em;
                            position: absolute;
                            bottom: 13%;
                            width: 70%;
                        }   
                        figure{
                            width: 100%;
                            img{
                                height: 95vh;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                }
            }
        }

        .buttonNextPrevious{
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            position: absolute;
            bottom: 7%;
            left: 40%;
            button{
                background-color: $black;
                color: $beige;
                border: 2px solid $beige;
                border-radius: 1rem;
                padding: 0.1em 1em;
            }
        }

        /*********************************
                    * HOME MATCH *
        ********************************/

        .container-prochainMatch{
            padding: 1em;
            color: $white;
            article{
                border: 2px solid $beige;
                box-shadow: $beige 0px 2px 8px 0px;
                border-radius: 1rem;
                padding: 1em;
                text-align: center;
                margin: 1em;
            }
            /************ NEXT MATCH **********/
            .prochainMatch{
                background-color: $bleu;
                box-shadow: rgba(255, 255, 255, 0.425) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
                h3{
                    color: $white;
                }
                .prochainMatchDom{
                    text-transform: uppercase;
                    font-weight: 900;
                    font-family: $font;
                    font-size: 2.2rem;
                    margin-bottom: -0.5em;
                }
                .prochainMatchEx{
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .prochainMatchDate{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.3rem;
                }
                .teamForMatch{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin: 0 1em;
                    p{
                        background-color: $black;
                        font-weight: 900;
                        padding: 0.5em;
                        border-radius: 1rem;
                    }
                    
                    figure{
                        width: 20%;
                        img{
                            width: 100%;
                            border-radius: 1rem;
                        }
                        figcaption{
                            margin-top: 0.5em;
                            text-wrap:pretty;
                        } 
                    }  
                }
            }

            /************ LAST MATCH **********/

            .lastResult{
                background-color: $beige;
                color: $black;
                box-shadow: rgba(255, 255, 255, 0.425) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
                h3{
                    color: $black;
                }
                .lastResultDom{
                    text-transform: uppercase;
                    font-weight: 900;
                    font-family: $font;
                    font-size: 2.2rem;
                    margin-bottom: -0.5em;
                }
                .lastResultEx{
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .lastResultDate{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.3rem;
                }
                .teamForLastMatch{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    p{
                        background-color: $bleu;
                        font-weight: 900;
                        padding: 0.5em;
                        border-radius: 1rem;
                        color: white;
                    }
                }
                figure{
                    width: 15%;
                    img{
                        width: 100%;
                        border-radius: 1rem;
                    }
                }
            }

            /************ RANKING **********/

            .ranking{
                text-align: center;
                background-color: $beige;
                padding: 1em;
                box-shadow: rgba(255, 255, 255, 0.425) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
                h3{
                    color: $black;
                }
                table{
                    color: $black;
                    td{
                        border-top: 1px solid $black;
                    }

                    .rankingTd{
                        width: 5%;
                    }
                    .rankingTdNsMasia{
                        background-color: $bleu;
                    }
                    .rankingTdTeam{
                        width: 15%;
                    }
                }
                a{
                    width: 100%;
                    padding: 0.3em;
                    margin-top: 1em;
                    font-size: 2rem;
                }
            }
        }

        /*********************************
                    * HOME CLUB *
        ********************************/
    
        .homeClub { 
            position: relative;
            margin-bottom: 5em;
            h4 {
                color: $white;
                padding: 0.5em;
                margin: 2em;
                position: relative;
                overflow: hidden;
                    &::after { 
                        content: ""; 
                        flex: 1 1; 
                        border-bottom: 3px solid $beige; 
                        margin: auto; 
                        position: absolute;
                        top: 50%; 
                        width: 75%; 
                    }
            
                    &::after { 
                        left: 15%; 
                        
                    }
            }

            .homeClubHistoire{
                margin: 0 1em ;
                
                position: relative;
                &:hover{
                    cursor: pointer;
                    color: $darkgrey;
                    border: 3px solid $darkgrey;
                    border-radius: 2rem;
                    box-shadow: $beige 0px 2px 8px 0px;
                }
                a{
                    color: $white;
                    figure{
                        width: 100%;
                        cursor: pointer;
                        padding: 0;
                            margin: 0;
                        img{
                            border-radius: 1rem;
                            width: 100%;
                            height: 100px;
                            object-fit: cover;
                            object-position: bottom;
                            filter: blur(2px);
                        }
                    }
                    h5{
                        position: absolute;
                        z-index: 96;
                        bottom: 0;
                        left: 5%;
                        font-size: 2.5rem;
                    }
                    p{
                        position: absolute;
                        z-index: 96;
                        bottom: 20px;
                        left: 5%;
                        font-weight: 500;
                    }
                }
            }

            .homeClubPlayers{
                margin: 1em ;
                position: relative;
                &:hover{
                    cursor: pointer;
                    color: $darkgrey;
                    border: 3px solid $darkgrey;
                    border-radius: 2rem;
                    box-shadow: $beige 0px 2px 8px 0px;
                    filter: blur(0px);
                }
                a{
                    color: $white;
                    figure{
                        width: 100%;
                        cursor: pointer;
                        padding: 0;
                            margin: 0;
                        img{
                            border-radius: 1rem;
                            width: 100%;
                            height: 100px;
                            object-fit: cover;
                            object-position: top;
                            filter: blur(2px);
                        }
                    }
                    h5{
                        position: absolute;
                        z-index: 96;
                        bottom: 0;
                        left: 5%;
                        font-size: 2.5rem;
                    }
                    p{
                        position: absolute;
                        z-index: 96;
                        bottom: 20px;
                        left: 5%;
                        font-weight: 500;
                    }
                }
            }
            .multiple-items {
                width: 80%;
                margin: 5em auto;
                article{
                    padding: 1em;
                    figure {
                        position: relative;
                        width: 100%;
                        margin: 0 auto;
                        img {
                            cursor: pointer;
                            width: 100%;
                            box-shadow: 0px 6px 12px -2px rgba(255, 255, 255, 0.5), 0px 3px 7px -3px rgba(255, 255, 255, 0.5);
                        }
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        bottom: -100%; /* Position it outside the bottom initially */
                        width: 100%;
                        background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
                        transition: all 0.5s ease-in-out;
                        padding: 0;
                        text-align: center;
                        z-index: 1;
                        color: $bleu;
                        border-top-left-radius: 2rem ;
                        border-top-right-radius: 2rem ;
                        h6 {
                            font-size: 4rem;
                            font-weight: 900;
                            
                            margin: 0;
                        }
                        p:first-child {
                            font-size: 2.5rem;
                            font-weight: 900;
                            margin: 0;
                        }
                        p:nth-child(2) {
                            font-size: 2rem;
                            font-weight: 900;
                            margin: 0;
                        }
                    }
                    figure:hover .info {
                        bottom: 0; /* Move it to the visible area */
                    }
                }
            }

                .slick-dots li {
                    opacity: 0;
                }
                .slick-prev.slick-arrow{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 99;
                   }
                   .slick-prev.slick-arrow{
                       position: absolute;
                       left: -29px;
                       bottom: 0;
                       z-index: 99;
                       color: black;
                       &::before{
                           content: "\f359"; /* Unicode for Font Awesome right arrow */
                           font-family: "Font Awesome 6 Free"; /* Adjust for your Font Awesome version */
                           font-weight: 900;
                           color: $white;
                           font-size: 40px;
                       }
                   }
                   .slick-next{
                       color: black;
                       position: absolute;
                       right: -10px;
                       cursor: pointer;
                       &::before{
                           content: "\f35a"; /* Unicode for Font Awesome right arrow */
                           font-family: "Font Awesome 6 Free"; /* Adjust for your Font Awesome version */
                           font-weight: 900;
                           color: $white;
                           font-size: 40px;
                       }
                   }
            }

        }
    

    @media screen and (min-width: 481px) and (max-width: 768px) {
        .pageHome{
            
            .homeClub{
                margin-bottom: 5em;
            }
            .container-prochainMatch{
                margin: 0 2.5em;
            }
        }
    }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*********************************
        * HOME CLUB *
    ********************************/
    .pageHome{
        
        .home{
            margin: 0;
            padding: 0;
            width: 98.9vw;
            padding-bottom: 2em;
            height: 100vh;
            h1{
                font-size: 7rem;
                font-weight : 700;
                text-wrap: wrap;
                padding-top: 1em;
                text-shadow: 0 10px 10px $black;
                text-transform: uppercase;
                font-style: italic;
                text-align: center;
                padding-top: -5em;
                
            }
            figure{
                width: 10%;
                margin: 0 auto;
                padding-top: 5em;

                img{
                    width: 100%;
                    margin-top: 2em;
                }
            }
            .btnProchainMatch{
                display: flex;
                justify-content: center;
                button{
                    font-size: 2rem;
                    border-radius: 2rem;
                    padding: 0.5em 1em ;
                }
            }
        }
        .container-prochainMatch{
            margin: 0 5em;
        }
        /*********************************
                    * HOME ACTU *
        ********************************/

        .homeActualite{ 
            .allArticle{
                width: 98.8vw; 
                .article{    
                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        /*********************************
                    * HOME CLUB *
        ********************************/

        .homeClub{
            margin-bottom: 10em;
            .block-homeClub{
                .block-homeClubHistoire{
                    width: 60%;
                    margin: 0 auto;
                }
            }
        } 
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .pageHome{
        
        .home{
            margin: 0;
            padding: 0;
            width: 98.9vw;
            padding-bottom: 2em;
            height: 100vh;
            h1{
                font-size: 7rem;
                font-weight : 700;
                text-wrap: wrap;
                padding-top: 1em;
                text-shadow: 0 10px 10px $black;
                text-transform: uppercase;
                font-style: italic;
                text-align: center;
                padding-top: -5em;
                
            }
            figure{
                width: 10%;
                margin: 0 auto;
                padding-top: 5em;

                img{
                    width: 100%;
                    margin-top: 2em;
                }
            }
            .btnProchainMatch{
                display: flex;
                justify-content: center;
                button{
                    font-size: 2rem;
                    border-radius: 2rem;
                    padding: 0.5em 1em ;
                }
            }
        }
        /*********************************
                    * HOME ACTU *
        ********************************/

        .homeActualite{ 
            .allArticle{ 
                width: 98.8vw;
                .article{    
                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .container-prochainMatch{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            article{
                width: 50%;
                height: auto; 
            }
            .lastResult{
                box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px;  
            }
            .prochainMatch{
                box-shadow: rgba(255, 255, 255, 0.425) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
            }
            .ranking{
                box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px; 
            }
        } 
        .homeClub{
            .block-homeClub{
                .block-homeClubHistoire{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        } 
    }
}

@media screen and (min-width: 1440px) {
    .pageHome{
        
        .home{

            width: 98.9vw;
            padding-bottom: 2em;
            height: 100vh;
            h1{
                font-size: 7rem;
                font-weight : 700;
                text-wrap: wrap;
                padding-top: 1em;
                text-shadow: 0 10px 10px $black;
                text-transform: uppercase;
                font-style: italic;
                text-align: center;
                padding-top: -5em;
                
            }
            figure{
                width: 10%;
                margin: 0 auto;
                padding-top: 5em;

                img{
                    width: 100%;
                    margin-top: 2em;
                }
            }
            .btnProchainMatch{
                display: flex;
                justify-content: center;
                button{
                    font-size: 2rem;
                    border-radius: 2rem;
                    padding: 0.5em 1em ;
                }
            }
        }
        /*********************************
                    * HOME ACTU *
        ********************************/

        .homeActualite{ 
            .allArticle{ 
                width: 98.8vw;
                .article{    
                    figure{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .container-prochainMatch{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 98.8vw;
            article{
                width: 50%;
                height: auto;
                &.prochainMatch{
                    height: 50vh;
                    padding: 4% 0;
                }
            }
            .lastResult{
                box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px;  
            }
            .prochainMatch{
                box-shadow: rgba(255, 255, 255, 0.425) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
            }
            .ranking{
                box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px; 
            }
        }
    .homeClub{
        margin-bottom: -3em;
        width: 95.5vw;
        h4{
            width: 100%;
            
            font-size: 2.5rem;
        }
        .block-homeClub{
            .block-homeClubHistoire{
                width: 70%;
                margin: 0 auto;
                .homeClubHistoire{
            
                    margin-left: 5em;
                } 
                .homeClubPlayers{
                    
                    margin-left: 5em;
                }
            }
            
        }
    }
    .multiple-items {
        width: 80%;
        margin: 5em auto;
        article{
            padding: 1em;
            figure {
                position: relative;
                width: 100%;
                margin: 0 auto;
                img {
                    cursor: pointer;
                    width: 100%;
                    box-shadow: 0px 6px 12px -2px rgba(255, 255, 255, 0.5), 0px 3px 7px -3px rgba(255, 255, 255, 0.5);
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                bottom: -100%; /* Position it outside the bottom initially */
                width: 100%;
                background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
                transition: all 0.5s ease-in-out;
                padding: 20px;
                text-align: center;
                z-index: 1;
                color: $bleu;
                h6 {
                    font-size: 6rem;
                    font-weight: 900;
                    
                    margin: 0;
                }
                p:first-child {
                    font-size: 3rem;
                    font-weight: 900;
                    margin: 0;
                }
                p:nth-child(2) {
                    font-size: 2.5rem;
                    font-weight: 900;
                    margin: 0;
                }
            }
            figure:hover .info {
                bottom: 0; /* Move it to the visible area */
            }
        }
    }
}
}



