/***** PAGE 404 ****/
.page404{
    padding: 10em 2em;
     h1{
         font-size: 8rem;
         text-align: center;
     }
     ul, p{
         text-align: center;
         font-size: 3rem;
     }
 }