*{
	min-width: 0;
	font: inherit;
}

*, *::before,*::after{
	box-sizing: border-box;
}

img, video, svg{
	display: block;
	height: auto;
	max-width: 100%;
}

ol, ul {
    list-style: none;
	padding: 0;
}

a{
    text-decoration: none;
	color: black;
}

p{
    text-wrap: pretty;
}

html {
	font-size: 62.5%;  
}
body {
    font-size: 1.6rem;
	background-color: $black;
    color: $beige;
}

h1,h2,h3,h4,h5,h6{
	text-wrap: balance;
	font-weight: 700;
	font-family: $font !important;
}

.invisible{
	display: none !important;
}

.visible{
	display: block;
}
