{% extends "base.html.twig" %}

{% block main %}
    <main class="container">
        <article class="carts">
            <h2>Mon panier</h2>
            <p>Total : <span class="cartQuantityValue">0</span></p>
            <ul class="cartsProducts"></ul>
        </article>
        <div class="location">
            <a href="index.php?route=boutique"><button class="btn">Continuer mes achats</button></a>
            <a href="index.php?route=payement"><button class="btn">Finaliser la commande</button></a>
        </div>
    </main>
{% endblock %}




