{% extends "base.html.twig" %}

{% block main %}
<main class="container">
    <article class="nextMatch">
        <article class="titleBoutique img-background">
            <figure>
                <a href="index.php?route=home"><img src="assets/img/logo-ns_masia.png" alt="Logo NsMasia"/></a>
            </figure>
            <h1>NsMasia FC</h1>
            <p>Billeterie Officiel</p>
        </article>
        <ul class="matchs">
            <ul class="reservation">
                <li>
                    <h2>NS MASIA FC</h2>
                    <p>As Panthère</p>
                </li>
                <li>
                    <p>Dimanche 15 Mars - 21h</p>
                </li>
                <li>
                    <figure>
                        <img src="assets\img\AS_Panthères_logo.png" alt=""/>
                    </figure>
                </li>
                <li>
                    <a href="index.php?route=reservation"><button type="submit">Je réserve</button></a>
                </li>
            </ul>
            <ul class="reservation">
                <li>
                    <h2>NS MASIA FC</h2>
                    <p>As Panthère</p>
                </li>
                <li>
                    <p>Dimanche 15 Mars - 21h</p>
                </li>
                <li>
                    <figure>
                        <img src="assets\img\AS_Panthères_logo.png" alt=""/>
                    </figure>
                </li>
                <li>
                    <a href="index.php?route=reservation"><button type="submit">Je réserve</button></a>
                </li>
            <ul>
        <ul>     
    </article>
</main>
{% endblock %}