{% extends "base.html.twig" %}


{% block main %}
    <main class="container">
            <nav class="nav-desktop"> <!--En mobile display: none-->
                <ul>
                    <li>Accueil</li>
                    <li>Club</li>
                </ul>
                <figure>
                    <img src="" alt=""/>
                </figure>
                <p></p>
                <ul>
                    <li>Boutique</li>
                    <li>Billeterie</li>
                </ul>
            </nav>
            <figure>
                <img src="" alt=""/>
            </figure>
                <p></p>
    </main>
{% endblock %}