$beige : rgb(255, 249, 237);
$darkgrey : rgb(137, 137, 137);
$white : rgb(250, 250, 250);
$black : rgb(42, 42, 42);
$bleu : rgb(25, 30, 59);

$font : "Poppins", sans-serif;
$font2 : "Nunito", sans-serif;

