$beige : rgb(255, 249, 237);
$darkgrey : rgb(192, 192, 192);
$grey : rgb(242, 242, 242);
$white : rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$bleu : rgb(13, 26, 115);

$font : "Poppins", sans-serif;
$font2 : "DM Sans", sans-serif;